<footer class="footer bg-primary text-white py-4">
  <div class="container">
    <div class="row mt-4     ">
      <!-- About Company -->
      <div class="col-md-3 mb-3">
        <h3>ABOUT COMPANY</h3>
        <p>
          We at Intellicept Understand Your SAP & Strategic IT Needs. As a
          result of our extensive experience in this industry, we are uniquely
          positioned to help customers leverage the latest Solution from SAP.
        </p>
      </div>

      <!-- Company -->
      <div class="col-md-3 mb-3">
        <h3>COMPANY</h3>
        <ul class="list-unstyled">
          <li><a href="services" class="text-white">About Our Services</a></li>
          <li><a href="partner" class="text-white">Our Affiliates Program</a></li>
          <li><a href="career" class="text-white">Check Our Careers</a></li>
        </ul>
      </div>

      <!-- Legal -->
      <div class="col-md-3 mb-3">
        <h3>LEGAL</h3>
        <ul class="list-unstyled">
          <li><a href="cloud-migration-services" class="text-white">Legal Information</a></li>
          <li><a href="cloud-migration-services" class="text-white">Privacy Policy</a></li>
          <li><a href="cloud-migration-services" class="text-white">Terms of Service</a></li>
        </ul>
      </div>

      <!-- Get in Touch -->
      <div class="col-md-3 mb-3">
        <h3>GET IN TOUCH</h3>
        <p>
          <i class="fa fa-map-marker" aria-hidden="true"></i> C-51, 5th Floor
          Sector 62 Noida UP, &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;201309
        </p>
        
        <p>
          <i class="fa fa-envelope" aria-hidden="true"></i>
          <a href="mailto:information@intellicept.com" class="text-white"
            >information&#64;intellicept.com
            </a
          >
        </p>
        <p>
          <i class="fa fa-phone" aria-hidden="true"></i>
          <a href="tel:+18887272497" class="text-white">+1 888 727 2497</a>
        </p>
      </div>
    </div>

    <!-- Copyright and Social Icons -->
    <div class="row align-items-center pt-3 border-top mt-3">
      <div class="col-md-6 text-center text-md-left mb-md-0">
        <p class="Copyright">
          Copyrights © 2023. All rights reserved by
          <a href="#" class="text-white  ">Intellicept.com</a>
        </p>
      </div>
      <div class="col-md-6 text-center text-md-right footer-social">
        <a href="https://www.facebook.com/intelliceptusa" class="text-white mx-2"
          ><i class="fa fa-facebook" aria-hidden="true"></i
        ></a>
        <a href="https://twitter.com/intellicept" class="text-white mx-2"
          ><i class="fa fa-twitter" aria-hidden="true"></i
        ></a>  
        <a href="https://www.linkedin.com/company/2329087/admin/" class="text-white mx-2"
          ><i class="fa fa-linkedin" aria-hidden="true"></i
        ></a>
        <!-- <a href="#" class="text-white mx-2"
          ><i class="fa fa-instagram" aria-hidden="true"></i
        ></a> -->
      </div>
    </div>
  </div>
</footer>
