<app-header></app-header>
<section class="head-img" style="background: url('/assets/head5.png')no-repeat center center / cover ; margin-top: 85px;">
    <div class="col-12">
        <div class="page-header-content  text-center ">
            <h1 class="text-white mb-0">Cloud Migration Services</h1>
        </div>
    </div> 
</section>

<section class="service-details-section mt-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8">
                <div class="service-details-wrap">
                    <img src="/assets/slider5.png" alt="services" class="img-fluid rounded shadow-sm">
                    <div class="services-detail-content mt-5">
                        <h4>Cloud Migration Services</h4>
                        <p>An important and probably a mandatory service in today’s business environment is to 
                            take the IT Infrastructure to cloud and Intellicept is helping its client to achieve 
                            this goal.</p>
                        <p>Our engagement and project team ensures that organizations can migrate 
                            their workloads to hyperscalers in minimum possible time and cost.  </p>

                        <div id="accordion-1" class="accordion accordion-faq mt-5">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="sidebar-right pl-4">

                    <!--all services list-->
                    <aside class="widget widget-categories">
                        <div class="widget-title">
                            <h5>Cloud Migration Services</h5>
                        </div>
                        <ul class="all-service-list">
                            <li><a href="cloud-migration-services">Architecture Support</a></li><hr>
                            <li><a href="cloud-migration-services">Roadmap Development</a></li><hr>
                            <li><a href="cloud-migration-services">Infrastructure Support</a></li><hr>
                        </ul>
                    </aside>

                </div>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>