<app-header></app-header>

<div class="loading-dots" *ngIf="isLoading">
    <div class="dot"></div>
    <div class="dot"></div>
    <div class="dot"></div>
    <div class="dot"></div>
  </div>
  
  <div *ngIf="!isLoading">
<div class="banner">
    <img src="assets/staffing-service.jpg" alt="Banner Image" style="margin-top: 85px;">
</div>
<div class="container">
    <p class="lead mt-5"><strong>Why Intellicept</strong> | Resourcing Across All Technologies</p>
    <div class="button-group mt-5">
        <button class="button">USA, India, Canada</button>
        <button class="button">Global Clients</button>
        <button class="button">In-house People</button>
        <button class="button">Since 2009</button>
    </div>

    <div class="image-row">
        <img src="assets/resources-service.png" alt="Image 1" class="animate-left">
        <img src="assets/resource1.png" alt="Image 2" class="animate-right">
    </div>

    <section class="about-us-section ptb-10 mb-5" style="position: relative;top: 49px;">
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <div class="col-md-12 col-lg-6">
                    <div class="card border-0 shadow-sm text-white">
                        <img src="assets/experience-expertise.png" alt="" class="img-fluid rounded shadow-sm">

                    </div>
                </div>
                <div class="col-md-12 col-lg-5 mt-4">

                    <div class="video-promo-content mb-md-4 mb-lg-0">
                        <h2>Resources Matrix</h2>
                        <div class="info-list">
                            <div class="info-item">
                                <i class="fa fa-pencil-square-o "></i>200+ IT Consultants
                            </div>
                            <div class="info-item">
                                <i class="fa fa-pencil-square-o "></i>25% Bench
                            </div>
                            <div class="info-item">
                                <i class="fa fa-pencil-square-o "></i>Core SAP Skill Sets - FMS, IS Retail, FICO, SD,
                                MM, PP, QM, WM, Basis, ABAP, Solution Manager
                            </div>
                            <div class="info-item">
                                <i class="fa fa-pencil-square-o "></i>Analytics and Technical – Bi, BO, BW, Fiori, ABAP
                                UI, CAR, E-commerce, Data Science
                            </div>
                            <div class="info-item">
                                <i class="fa fa-pencil-square-o "></i>SAP Addons – Hybris, FMS, Ariba, Success Factor
                            </div>
                        </div>

                        <p class="ml-4"><b>Currently Available Skills – ISU, MM Retail, SD Retail, JAVA, Node JS, Python
                                developers, RPA
                                Developers, Ecommerce Technical Backend and Front End, SAP Testing</b></p>
                    </div>

                </div>

            </div>
        </div>
    </section>


    <section class="py-5 bg-light">

        <div class="challenge-section bg-shape-right-top pb-2 my-4">
            <div class="container-fluid py-4">
                <div class="row align-items-center">


                    <div class="section-heading text-center mb-3 text-center">
                        <h2>Dedicated Sourcing &amp; Talent Acquisition Desk</h2>
                        <p class="lead">We at Intellicept Understand Your SAP &amp; Strategic IT Needs. As a result of
                            our extensive
                            experience in this industry, we are uniquely positioned to help customers leverage the
                            latest Solution
                            from SAP.</p>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="challenge-content">


                            <div class="challenge-content-list">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="challenge-list-item">
                                            <i class="fa fa-check" aria-hidden="true"></i>
                                        
                                            <p>500+ head count Globally</p>
                                        </div>
                                    </div>

                                    <div class="col-sm-12">
                                        <div class="challenge-list-item">
                                            <i class="fa fa-check" aria-hidden="true"></i>
                                           
                                            <p>Staffing Across IT</p>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="challenge-list-item">
                                            <i class="fa fa-check" aria-hidden="true"></i>
                                         
                                            <p>SAP – Maintaining a large pool of 80 SAP resources</p>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="challenge-list-item">
                                            <i class="fa fa-check" aria-hidden="true"></i>
                                         
                                            <p>AI/ML - Maintain resource pool</p>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="challenge-list-item">
                                            <i class="fa fa-check" aria-hidden="true"></i>
                                           
                                            <p>40+ passionate recruiters globally</p>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="challenge-list-item">
                                            <i class="fa fa-check" aria-hidden="true"></i>
                                  
                                            <p>20+ happy clients and many in pipeline</p>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="challenge-list-item">
                                            <i class="fa fa-check" aria-hidden="true"></i>
                                         
                                            <p>High quality and cost-effective profiles</p>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="challenge-list-item">
                                            <i class="fa fa-check" aria-hidden="true"></i>
                                           
                                            <p>Dedicated Point-of-Contact</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 px-5">
                        <div class="challenge-image text-center">
                            <img src="assets/why mck.jpg" alt="" />
                            <img src="" alt="" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>








    <div class="row justify-content-center">
        <div class="col-md-10" style="text-align:justify; margin-top:60px;">
            <div class="section-heading text-center mb-3">
                <h2>In Demand Skills 2023</h2>
                <p class="lead">Intellicept is investing heavily on the most in demand skill sets </p>
            </div>
        </div>
    </div>
    <div class="safer-world-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12" style="display: flex;justify-content: center;align-items: center;">
                    <img src="assets/success.png" alt="image">
                </div>
                <div class="col-lg-6 col-md-12 mb-5">
                    <div class="safer-world-content">

                        <ul class="features-list">
                            <li>01. Adobe Engineering Management</li>
                            <li>02. Cloud Service Engineer</li>
                            <li>03. Data Science</li>
                            <li>04. Artificial Intelligence</li>
                            <li>05. DevOps</li>
                            <li>06. Blockchain</li>
                            <li>07. RPA</li>
                            <li>08. Cyber Security</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="row justify-content-center">
        <div class="col-md-10" style="text-align:justify; margin-top:60px;">
            <div class="section-heading text-center mb-3">
                <h2>Adobe Skill Sets</h2>
            </div>
            <div class="info-list">
                <div class="info-item">
                    <i class="fa fa-check-circle mr-2 color-secondary"></i>Senior Solution Consultants
                </div>
                <div class="info-item">
                    <i class="fa fa-check-circle mr-2 color-secondary"></i>Senior Engineering Manager
                </div>
                <div class="info-item">
                    <i class="fa fa-check-circle mr-2 color-secondary"></i>Solution Architect
                </div>
            </div>

        </div>
    </div> -->


    <div class="feature-section mt-4 mb-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-12" style="text-align: center; margin-bottom: 20px">
                    <h4 style="font-weight: bold">Adobe Skill Sets</h4>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col4">
                    <div class="quality-card" style="height: 130px;">
                        <i class="flaticon-management"></i>
                        <div class="number">
                            01
                        </div>
                        <!-- <h4>Product Consultation</h4>
                        <p>Proven track record of successful implementations</p> -->
                        <h6>Senior Solution Consultants</h6>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col4">
                    <div class="quality-card" style="height: 130px;">
                        <i class="flaticon-shield-3"></i>
                        <div class="number">
                            02
                        </div>
                        <!-- <h4>Security Consultation</h4>
                        <p>Our successful AMS</p> -->
                        <h6>Senior Engineering Manager</h6>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col4">
                    <div class="quality-card" style="height: 130px;">
                        <i class="flaticon-customer-service"></i>
                        <div class="number">
                            03
                        </div>
                        <!-- <h4>24/7 Technical Support</h4>
                        <p>Proven continuous testing partnership</p> -->
                        <h6>Solution Architect</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center" style="background-color: #f5f5f5;">
        <div class="col-md-10" style="text-align:justify; margin-top:60px;">
            <div class="section-heading text-center mb-5">
                <h2>Staffing Methodology </h2>
            </div>

        </div>
    </div>

    <div class="flow1" style="background-color: #f5f5f5;">
        <div class="box">
            <p>Requirement from client in the form of JD</p>

        </div>
        <div class="right-arrow">→</div>
        <div class="box">
            <p>JD shared with the Recruitment Team <br>same Day</p>

        </div>
        <div class="right-arrow">→</div>
        <div class="box">
            <p>Recruitment Team Analyze the <br>position check Internal <br>availability</p>
        </div>
    </div>
    <div class="down-arrow mb-3">↓</div>
    <div class="flow1" style="background-color: #f5f5f5;">
        <div class="box">
            <p>Sales Share it with client along with T&amp;M cost</p>
        </div>
        <div class="left-arrow">←</div>
        <div class="box">
            <p>Yes than Share the credentials forward <br>to Sales</p>
        </div>
        <div class="left-arrow">←</div>
        <div class="box mt-5">
            <p>If Resource is not available <br>Internally than Market search <br>is done and best possible candidate is
                provided</p>
        </div>

    </div>
    <div class="down-arrow">↓</div>
    <div class="flow1 pb-5" style="background-color: #f5f5f5;">
        <div class="box " style="visibility: hidden;">
            <p>Sales Share it with client along with T&amp;M cost</p>
        </div>

        <div class="box" style="visibility: hidden;">
            <p>Yes than Share the credentials forward <br>to Sales</p>
        </div>

        <div class="box desktop-only ">
            <p>Only for long <br>term engagement</p>

        </div>

    </div>
    <div class="row justify-content-center">
        <div class="col-md-10" style="text-align:justify; margin-top:60px;">
            <div class="section-heading text-center mb-5">
                <h2>Communication & Governance Framework </h2>
            </div>

        </div>
    </div>


    <div class="container">
        <div class="row">
            <div class="column">
                <div class="card">
                    <p>Industry Specific Roles</p>
                    <p>Tier-1 consulting Firms</p>
                    <p>Strategic Alliance Partners</p>
                </div>
            </div>

            <div class="column">
                <div class="card">
                    <p>Intellicept BDM</p>
                    <p>Intellicept SPOC/Account Manager</p>
                </div>
            </div>

            <div class="column">
                <div class="card">
                    <p>Intellicept Vendor Management</p>
                    <p>Intellicept TA Team</p>
                </div>
            </div>

            <div class="column">
                <div class="card">
                    <p>Intellicept TA Team</p>
                    <p>Recruitment Manager <span>Associate Recruiter 1</span></p>
                    <p>Team Lead /Sr Recruiter <span>Associate Recruiter 2</span></p>
                    <p>Team Lead /Sr Recruiter <span>Associate Recruiter 3</span></p>
                </div>
            </div>
        </div>
    </div>

    <section class="about-us-section ptb-10" style="position: relative;top: 49px;">
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <div class="col-md-12 col-lg-6">
                    <div class="card border-0 shadow-sm text-white">
                        <img src="assets/contact1.avif" alt="" class="img-fluid rounded shadow-sm">
                        <!-- <div class="card-img-overlay text-center">
                        <a href="https://www.youtube.com/watch?v=9No-FiEInLA" class="popup-youtube video-play-icon color-bip shadow"><span class="ti-control-play"></span> </a>
                    </div> -->
                    </div>
                </div>
                <div class="col-md-12 col-lg-5">

                    <div class="video-promo-content mb-md-4 mb-lg-0">
                        <h2>Contacts and Our Locations</h2>
                        <p><b>Manali Naik<br>
                                VP Client Relations<br>
                                908-380-1980<br>
                                USA</b></p>
                        <p><b>Gaurav Mishra<br>
                                VP Business Dev Staffing<br>
                                +1732 603-1135 / +91 9891110374<br>
                                India
                            </b></p>
                    </div>
                </div>

            </div>
        </div>
    </section>


    <div class="row justify-content-center mt-5">
        <div class="col-md-10" style="text-align:justify; margin-top:137px;">
            <div class="section-heading text-center mb-5">
                <h2>Appendix</h2>
                <p class="lead"><span style="font-weight: 600;color: black;">Success Stories of SAP Implementation by
                        our
                        affiliate McKinsol</span>
                    We are a Resourcing Partner of McKinsol</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="sap-success-stories">
            <div class="section-heading text-center mb-5">
                <h4>Our SAP Success Stories – S/4HANA & BTP</h4>
            </div>
            <div class="row justify-content-center">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 col-sm-12">
                            <div class="story-title"><b>Fashion Handbag Retailer</b></div>
                            <div class="story-content">
                                <!-- <ul>
                    <li>Multiple System of records and lack of single source of truth</li>
                    <li>Inorganic growth leading silos of systems and data</li>
                </ul> -->
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-12">
                            <div class="story-title">
                                <img src="assets/2Icons.png" alt="Problem Icon" class="icon">
                                <span>Problem</span>
                            </div>
                            <div class="story-content">
                                <ul>
                                    <li>Multiple Brands and recent acquisitions</li>
                                    <li>Distributed master data organizations across brands</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-12">
                            <div class="story-title">
                                <img src="assets/1Icons.png" alt="Solution Icon" class="icon">
                                <span>Solution</span>
                            </div>
                            <div class="story-content">
                                <ul>
                                    <li>System Integrator in the end-to-end SAP transformative programs</li>
                                    <li>CIO Advisory</li>
                                    <li>MDM CoE, Chatbot, SAP SAC, RPA, iDMX</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-12">
                            <div class="story-title">
                                <img src="assets/3Icons.png" alt="Outcome Icon" class="icon">
                                <span>Outcome</span>
                            </div>
                            <div class="story-content">
                                <ul>
                                    <li>One global system for all transactions and records through SAP adoption</li>
                                    <li>Enabling efficiencies and improved experience for the business and users</li>

                                </ul>
                            </div>
                        </div>
                    </div>



                    <div class="row">
                        <div class="col-md-3 col-sm-12">
                            <div class="story-title"><b>Fashion Apparel Retailer & Wholesaler</b></div>
                            <div class="story-content">
                                <!-- <ul>
                    <li>Multiple System of records and lack of single source of truth</li>
                    <li>Inorganic growth leading silos of systems and data</li>
                </ul> -->
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-12">
                            <!-- <div class="story-title">
                        <img src="assets/2Icons.png" alt="Problem Icon" class="icon">
                        <span>Problem</span>
                    </div> -->
                            <div class="story-content">
                                <ul>
                                    <li>Multiple Brands and recent acquisitions</li>
                                    <li>Best practices adoption issues
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-12">
                            <!-- <div class="story-title">
                        <img src="assets/1Icons.png" alt="Solution Icon" class="icon">
                        <span>Solution</span>
                    </div> -->
                            <div class="story-content">
                                <ul>
                                    <li>System Integrator in the end-to-end SAP transformative programs</li>
                                    <li>Data Migration, Governance, Analytics </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-12">
                            <!-- <div class="story-title">
                        <img src="assets/3Icons.png" alt="Outcome Icon" class="icon">
                        <span>Outcome</span>
                    </div> -->
                            <div class="story-content">
                                <ul>
                                    <li>One global system for all transactions and records through SAP adoption</li>
                                    <li>Enabling efficiencies and improved user experience based on SAP BTP technology
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-3 col-sm-12">
                            <div class="story-title"><b>Fashion Apparel & Shoe Manufacturer</b></div>
                            <div class="story-content">
                                <!-- <ul>
                    <li>Multiple System of records and lack of single source of truth</li>
                    <li>Inorganic growth leading silos of systems and data</li>
                </ul> -->
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-12">
                            <!-- <div class="story-title">
                        <img src="assets/2Icons.png" alt="Problem Icon" class="icon">
                        <span>Problem</span>
                    </div> -->
                            <div class="story-content">
                                <ul>
                                    <li>Multiple Geographies and expansion
                                    </li>
                                    <li>Distributed master data organizations across brands</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-12">
                            <!-- <div class="story-title">
                        <img src="assets/1Icons.png" alt="Solution Icon" class="icon">
                        <span>Solution</span>
                    </div> -->
                            <div class="story-content">
                                <ul>
                                    <li>System Integrator in the end-to-end SAP transformative programs
                                    </li>
                                    <li>iDMX: Purchase Orders, Labels
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-12">
                            <!-- <div class="story-title">
                        <img src="assets/3Icons.png" alt="Outcome Icon" class="icon">
                        <span>Outcome</span>
                    </div> -->
                            <div class="story-content">
                                <ul>
                                    <li>Improved Merchandising processes</li>
                                    <li>Automated Supply Chain

                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>




                </div>
            </div>
        </div>








        <div class="sap-success-stories mt-5 mb-5">
            <div class="section-heading text-center mb-5">
                <h4>Our SAP Success Stories</h4>
            </div>
            <div class="row justify-content-center">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 col-sm-12">
                            <div class="story-title"><b>Eyewear Retailer & Manufacturer – CPG</b></div>
                            <div class="story-content">
                                <!-- <ul>
                    <li>Multiple System of records and lack of single source of truth</li>
                    <li>Inorganic growth leading silos of systems and data</li>
                </ul> -->
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-12">
                            <div class="story-title">
                                <img src="assets/2Icons.png" alt="Problem Icon" class="icon">
                                <span>Problem</span>
                            </div>
                            <div class="story-content">
                                <ul>
                                    <li>Multiple System of records and lack of single source of truth</li>
                                    <li>Inorganic growth leading silos of systems and data</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-12">
                            <div class="story-title">
                                <img src="assets/1Icons.png" alt="Solution Icon" class="icon">
                                <span>Solution</span>
                            </div>
                            <div class="story-content">
                                <ul>
                                    <li>Multiple end-to-end SAP transformative programs Implementation and support since
                                        2012
                                        (Continued)</li>
                                    <li>Modules included CAR, PMR, Real Estate of SAP S/4HANA</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-12">
                            <div class="story-title">
                                <img src="assets/3Icons.png" alt="Outcome Icon" class="icon">
                                <span>Outcome</span>
                            </div>
                            <div class="story-content">
                                <ul>
                                    <li>One global system for all transactions and records through SAP adoption</li>

                                </ul>
                            </div>
                        </div>
                    </div>



                    <div class="row">
                        <div class="col-md-3 col-sm-12">
                            <div class="story-title"><b>Shaving Products - CPG</b></div>
                            <div class="story-content">
                                <!-- <ul>
                    <li>Multiple System of records and lack of single source of truth</li>
                    <li>Inorganic growth leading silos of systems and data</li>
                </ul> -->
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-12">
                            <!-- <div class="story-title">
                        <img src="assets/2Icons.png" alt="Problem Icon" class="icon">
                        <span>Problem</span>
                    </div> -->
                            <div class="story-content">
                                <ul>
                                    <li>No Single Source of Truth</li>
                                    <li>Multiple systems and people in silos</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-12">
                            <!-- <div class="story-title">
                        <img src="assets/1Icons.png" alt="Solution Icon" class="icon">
                        <span>Solution</span>
                    </div> -->
                            <div class="story-content">
                                <ul>
                                    <li>Automation in several of niche areas of S/4HANA & Integration with 3PL</li>
                                    <li>Data Quality Management </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-12">
                            <!-- <div class="story-title">
                        <img src="assets/3Icons.png" alt="Outcome Icon" class="icon">
                        <span>Outcome</span>
                    </div> -->
                            <div class="story-content">
                                <ul>
                                    <li>Improved Merchandising processes</li>
                                    <li>Improved data quality & analytics
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-3 col-sm-12">
                            <div class="story-title"><b>Consumer Electronics Retailer - CPG</b></div>
                            <div class="story-content">
                                <!-- <ul>
                    <li>Multiple System of records and lack of single source of truth</li>
                    <li>Inorganic growth leading silos of systems and data</li>
                </ul> -->
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-12">
                            <!-- <div class="story-title">
                        <img src="assets/2Icons.png" alt="Problem Icon" class="icon">
                        <span>Problem</span>
                    </div> -->
                            <div class="story-content">
                                <ul>
                                    <li>No Single Source of Truth
                                    </li>
                                    <li>Multiple systems and people in silos</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-12">
                            <!-- <div class="story-title">
                        <img src="assets/1Icons.png" alt="Solution Icon" class="icon">
                        <span>Solution</span>
                    </div> -->
                            <div class="story-content">
                                <ul>
                                    <li>End-to-End SAP Retail Implementation Several of niche areas
                                    </li>
                                    <!-- <li>End-to-end implementation</li> -->
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-12">
                            <!-- <div class="story-title">
                        <img src="assets/3Icons.png" alt="Outcome Icon" class="icon">
                        <span>Outcome</span>
                    </div> -->
                            <div class="story-content">
                                <ul>
                                    <li>Improved Merchandising processes</li>
                                    <li>Integrated POS, master data and analytics
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-3 col-sm-12">
                            <div class="story-title"><b>Food & Grocery Retailer - CPG</b></div>
                            <div class="story-content">
                                <!-- <ul>
                    <li>Multiple System of records and lack of single source of truth</li>
                    <li>Inorganic growth leading silos of systems and data</li>
                </ul> -->
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-12">
                            <!-- <div class="story-title">
                        <img src="assets/2Icons.png" alt="Problem Icon" class="icon">
                        <span>Problem</span>
                    </div> -->
                            <div class="story-content">
                                <ul>
                                    <li>Organic growth led to multiple issues primarily related to Data and Inventory
                                    </li>
                                    <!-- <li>Inorganic growth leading silos of systems and data</li> -->
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-12">
                            <!-- <div class="story-title">
                        <img src="assets/1Icons.png" alt="Solution Icon" class="icon">
                        <span>Solution</span>
                    </div> -->
                            <div class="story-content">
                                <ul>
                                    <li>End-to-end SAP project (2012 – 2017)</li>
                                    <li>End-to-end implementation</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-12">
                            <!-- <div class="story-title">
                        <img src="assets/3Icons.png" alt="Outcome Icon" class="icon">
                        <span>Outcome</span>
                    </div> -->
                            <div class="story-content">
                                <ul>
                                    <li>Improved Merchandising processes</li>
                                    <li>Integrated pricing and promotion processes</li>

                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>
<app-footer></app-footer>

