<div class="navbar-area" [ngClass]="{ 'sticky': isSticky, 'transparent-header': isHomePage && !isSticky, 'solid-header': !isHomePage || isSticky }">
  <nav class="navbar navbar-expand-lg" [ngStyle]="getNavbarStyle()">
    <a class="navbar-brand" routerLink="/">
      <img src="assets/Logo1.png" alt="logo" style="height: 60px" />
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation" style="border-color: white;">
      <span class="burger-menu">
          <span class="top-bar" style="background-color: white;"></span>
          <span class="middle-bar" style="background-color: white;"></span>
          <span class="bottom-bar" style="background-color: white;"></span>
      </span>
  </button>
    <div class="collapse navbar-collapse" id="navbarContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a routerLink="/" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
            [style.color]="(router.url == '/' || router.url == '/' || router.url == '/webinar') && isSticky == false ? 'white' : 'white'">
            Home
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/aboutUs" class="nav-link" routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            [style.color]="(router.url == '/' || router.url == '/' || router.url == '/webinar') && isSticky == false ? 'white' : 'white'">
            About Us
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/rpo-services" class="nav-link" routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            [style.color]="(router.url == '/' || router.url == '/' || router.url == '/webinar') && isSticky == false ? 'white' : 'white'">
            RPO
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/services" class="nav-link" routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            [style.color]="(router.url == '/' || router.url == '/' || router.url == '/webinar') && isSticky == false ? 'white' : 'white'">
            Services
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/digital-marketing-services" class="nav-link" routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            [style.color]="(router.url == '/' || router.url == '/' || router.url == '/webinar') && isSticky == false ? 'white' : 'white'">
            Digital Marketing Services
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/staffing-services" class="nav-link" routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            [style.color]="(router.url == '/' || router.url == '/' || router.url == '/webinar') && isSticky == false ? 'white' : 'white'">
            Staffing Services
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/career" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
            [style.color]="(router.url == '/' || router.url == '/' || router.url == '/webinar') && isSticky == false ? 'white' : 'white'">
            Career
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/industries" class="nav-link" routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            [style.color]="(router.url == '/' || router.url == '/' || router.url == '/webinar') && isSticky == false ? 'white' : 'white'">
            Industries
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/partner" class="nav-link" routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            [style.color]="(router.url == '/' || router.url == '/' || router.url == '/webinar') && isSticky == false ? 'white' : 'white'">
            Partners
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/blog" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
            [style.color]="(router.url == '/' || router.url == '/' || router.url == '/webinar') && isSticky == false ? 'white' : 'white'">
            Blog
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/contact-us" class="nav-link" routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            [style.color]="(router.url == '/' || router.url == '/' || router.url == '/webinar') && isSticky == false ? 'white' : 'white'">
            Contact Us
          </a>
        </li>
      </ul>
    </div>
  </nav>
</div>