<mat-sidenav-container class="sidenav-container">
  <mat-sidenav 
    class="sidebar" 
    #sidenav 
    mode="side" 
    [opened]="isSidenavOpen" 
    [fixedInViewport]="true"
    (closedStart)="closeSidenav()"
    class="mat-elevation-z4"
    style="background-color: #fff;"
    >

    <mat-toolbar class="menu-bar">
      <img src="/assets/Untitled-22.png" alt="Logo" routerLink="/" >
    </mat-toolbar>
    <hr>

    <ul class="menu-list" (click)="closeSidenav()">
      <li>
        <a routerLink="/add-jobs" routerLinkActive="active">
          <i class="fa-solid fa fa-user" style="display: contents;"></i>&nbsp; Add Job
        </a>
      </li>
      <li>
        <a routerLink="/admin-career" routerLinkActive="active">
          <i class="fa fa-line-chart" aria-hidden="true" style="display: contents;"></i>
          &nbsp; Career
        </a>
      </li> 
      <li><a routerLink="/admin-contact-us" routerLinkActive="active"><i class="fa fa-address-book" ></i>&nbsp; Contact Us</a></li>
      <li><a routerLink="/admin-services" routerLinkActive="active"><i class="fa fa-wrench" ></i>&nbsp; Services</a></li>
      <li><a routerLink="/admin-digital-business-services" routerLinkActive="active" ><i class="fas fa-business-time"></i>&nbsp; Digital Business Services</a></li>
    </ul>

   
    <ul class="bottom-menu menu-list">
      <hr>
      <li (click)="logout()"> Logout <i class="fa fa-sign-out"></i></li>
    </ul>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar *ngIf="isMobileView" class="tool">
      <button mat-icon-button (click)="toggleSidenav()">
        <mat-icon><i class="fa fa-bars"></i></mat-icon>
      </button>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>


<!-- 
<mat-sidenav 
    class="sidebar mat-elevation-z4" 
    #sidenav 
    mode="side" 
    [opened]="isSidenavOpen" 
    [fixedInViewport]="true"
    (closedStart)="closeSidenav()"
    style="background-color: #fff !important;">

    <mat-toolbar class="menu-bar">
      <img src="/assets/Untitled-22.png" alt="Logo" routerLink="/" >
    </mat-toolbar>
    <hr>

    <ul class="menu-list" (click)="closeSidenav()">
      <li>
        <a routerLink="/add-jobs" routerLinkActive="active">
          <i class="fa-solid fa fa-user" style="display: contents;"></i>&nbsp; Add Job
        </a>
      </li>
      <li>
        <a routerLink="/admin-career" routerLinkActive="active">
          <i class="fa fa-line-chart" aria-hidden="true" style="display: contents;"></i>
          &nbsp; Career
        </a>
      </li> 
      
      -->