.sidenav-container {
  height: 100%;
  width: 100%;
}

.sidebar {
  width: 250px;
  height: 100%;
  background-color: #F3F3F3 !important;
  opacity: 1 !important;
  z-index: 1000;
  color: #000;
  position: fixed;
  top: 0;
  left: 0;
  transition: all 0.3s ease;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.menu-bar img {
  height: 144px;
  width: auto;
  // margin-left: 3px;
}

hr {
  color: #000;
  border-top: 1px solid black;
}

.menu-list {
  list-style-type: none;
  padding: 0;
}

.menu-list li {
  margin: 10px 0;
}

.menu-list li a {
  color: #000;
  text-decoration: none;
  padding: 10px;
  display: block;
  transition: background-color 0.3s ease;
}

.menu-list li:hover, .menu-list li a.active {
  background-color: #158DB1;
  color: #fff;
}

.bottom-menu {
  position: absolute;
  bottom:-16px;
  left:0;
  width: 100%;
  text-align: center;
}

.bottom-menu li {
  color: #000;
  padding: 10px ;
}
.tool {
  background-color: #158DB1;
  color: #fff;
}

.mat-toolbar {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .sidebar {
    width: 250px;
    left: -250px;
    transition: left 0.3s ease;
    background-color: #F3F3F3 !important; 
    opacity: 1 !important;
  }

  .sidebar.mat-sidenav-opened {
    left: 0;
  }
}

.tool button{
  background:none;
  color: #fff;
  border: none;
  padding: 4px 0px;
  font-size: 20px;
  cursor: pointer;
}