<app-side-nav></app-side-nav>
<div id="viewport">
  <div class="header">
    <h3>  Jobs</h3>
  </div>
  <div class="">
    
      <div class="col-12" style="padding: 0 0;">
        <div class="panel">
      
             
            <div id="accordionExample" class="accordion">
                <div class="accordion-item mb-3">
                  <h2 id="headingOne" class="accordion-header">
                    <button type="button" aria-expanded="true" class="accordion-button" disabled>
                        <h5><b>SAP Fresher(MM/SD)</b></h5>
                    </button>
                  </h2>
                  <div id="collapseOne" aria-labelledby="headingOne" data-bs-parent="#accordionExample" class="accordion-collapse collapse show">
                    <div class="accordion-body">
                      <h6>Date of Opening: 01 Aug, 2024</h6>
                      <h6>Job Location: Noida</h6>
                      <p>
                        1. Ready to work in Night shift (EST Zone).<br>
                        2. Open to learn SAP IS Retail/S4 Fashion.<br>
                        3. Ready to work in flexible shifts according to client needs.<br>
                        4. 1 year experience.
                      </p>
                      <button class="apply_button mdc-button mat-mdc-button mat-unthemed mat-mdc-button-base">
                        Apply
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              
            </div>
      </div>
    </div>
  </div>

            
                          <!-- <div id="accordionExample" class="accordion">
                            <div class="accordion-item mb-3">
                              <h2 id="headingOne" class="accordion-header">
                                <button type="button" aria-expanded="true" class="accordion-button" disabled>
                                  <h5>{{ jobData.job_title }}</h5>
                                </button>
                              </h2>
                              <div id="collapseOne" aria-labelledby="headingOne" data-bs-parent="#accordionExample" class="accordion-collapse collapse show">
                                <div class="accordion-body">
                                  <h6>Date of Opening: {{ jobData.start_application_date }}</h6>
                                  <h6>Job Location: {{ jobData.job_location }}</h6>
                                  <p>{{ jobData.job_description }}</p>
                                  <button class="apply_button mdc-button mat-mdc-button mat-unthemed mat-mdc-button-base">
                                    <span class="mdc-button__label">Apply</span>
                                  </button>
                                </div>
                              </div>
                            </div>
                          </div>
                           -->
                          
                          <!-- <ng-template #noData>
                            <h5 style="text-align: center; margin-top: 30px;">No data found</h5>
                          </ng-template> -->