
.head-img {
    height: 270px;
    width: 100%;
}
p{
    line-height: 30px;
    font-size: 18px;
}
.text-header h1{
    text-align: center;
    align-items: center;
    position: relative;
    top: 100px;
    font-weight: 700;
    color: #fff;
    font-size: 40px;
}
.text-shadow-black {
  text-shadow: 5px 2px 4px rgba(0, 0, 0, 0.8); 
}

i{
    margin-right: 10px;
    padding-top: 0.75rem !important;
    color: #707070;
}


.highlight {
    color: #3f7cd1;
}

h1, h2 {
    // color: #0056b3;
    font-weight: bold;
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

h2 {
    font-size: 28px;
    margin-bottom: 15px;
}

p {
    font-size: 16px;
    margin-bottom: 15px;
}

.section-title {
    text-align: center;
    margin-bottom: 50px;
}

.section-title h1 {
    display: inline-block;
}
.tech-feature-list{
    color: #707070;
}

.intelligent-mdg-section ul {
    list-style-type: disc;
    margin-left: 20px;
}

.intelligent-mdg-section ul li {
    font-size: 16px;
    margin-bottom: 10px;
}



