.ptb-10 {
    padding: 100px 0;
}
@media (min-width: 901px) {
    .faq-section {
        padding: 2% 18%;
    }
}
 h5 {
    margin: 0 0 1rem;
    font-weight: 600;
    line-height: 1.21;
    color: initial;
}
span{
    color: #333;
    font-weight: 600;
}
p{
    line-height: 30px;
    letter-spacing: .5px;
}
.challenge-image img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}
.myth-container {
    padding: 20px;
    margin-bottom: 20px; 
    box-shadow: rgba(19, 81, 168, 0.3) 0px 1px 2px 0px, rgba(19, 81, 168, 0.15) 0px 2px 6px 2px;
    border-radius: 8px;
    background-color: #fff; 
  }
  
  .myth-heading {
    padding: 5px 0px;
    border-radius: 4px;
  }
  
  .myth-container p {
    margin-top: 10px;
  }
@media (max-width: 576px) {
    .myth-container {
      padding: 15px;
      margin-bottom: 15px;
    }
  
    .myth-heading {
      font-size: 1rem;
    }
  
    .myth-container p {
      font-size: 0.9rem;
      line-height: 1.4;
    }
  
    .faq-section {
      padding: 20px;
    }
    
    .myth-container p a {
      display: block;
      margin-top: 10px;
      font-size: 1rem;
    }
  }