.head-img {
    height: 250px;
}
.text-header h1{
    text-align: center;
    align-items: center;
    position: relative;
    top: 100px;
    font-weight: 700;
    color: #fff;
    font-size: 50px;
}
.list-container {
    padding-left: 0;
}

.list-item {
    padding: 8px 0; 
    display: flex;
    align-items: center;
}

.list-item i {
    margin-right: 8px; 
    color: #007bff; 
}


.container1 {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    // background-color: #e7e1e1;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.invalid-feedback div{
    color: #dc3545;
    text-align: left;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 5px 10px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="file"] {
    margin: 8px 0;
}

.registerbtn {
    background-color: #0056b3;
    color: white;
    padding: 10px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

.registerbtn:hover {
    background-color: #007bff;
}

h1 {
    text-align: center;
}


/* Responsive adjustments */
@media (max-width: 768px) {
    .col-md-12 {
        text-align: center;
    }

    .container1 {
        padding: 10px;
    }
    .img-fluid{
margin-bottom: 20px;
    }
}





.apply_button {
    background-color: #1351a8;
    color: white !important; 
    border: none;
    padding: 6px 15px;
    font-size: 16px;
    border-radius: 7px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: rgba(19, 81, 168, 0.3) 0px 1px 2px 0px, rgba(19, 81, 168, 0.15) 0px 2px 6px 2px; /* Updated box-shadow with #1351a8 color */
  }
  
  .apply_button:hover {
    background-color: #0f3f87; 
  }
  
  /* Accordion general styling */
  .accordion-item {
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 1rem;
    box-shadow: rgba(19, 81, 168, 0.3) 0px 1px 2px 0px, rgba(19, 81, 168, 0.15) 0px 2px 6px 2px; /* Same box shadow for the accordion */
  }
  
  .accordion-button {
    // background-color: #f8f9fa;
    background-color: #cfe2ff;
    font-size: 18px;
    color: #000;
    font-weight: bold;
  }
  
  .accordion-button:disabled {
    cursor: not-allowed;
    opacity: 0.7;
  }
  
  .panel {
    padding: 15px;
    background-color: white;
    border-radius: 8px;
  }
  
  .accordion-body h6 {
    margin: 0 0 10px 0;
  }
  
  .accordion-body p {
    margin-bottom: 15px;
  }
  
  @media (max-width: 576px) {
    .apply_button {
      width: 100%; 
    }
  }
  