<app-header></app-header>
<section class="head-img" style="background: url('/assets/head1.png')no-repeat center center / cover ; margin-top: 85px;">
    <div class="col-12">
        <div class="page-header-content  text-center ">
            <h1 class="text-white text-shadow-black mb-0">Customer Experience Excellence</h1>
        </div>
    </div> 
</section>

<section class="service-details-section mt-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8">
                <div class="service-details-wrap">
                    <img src="/assets/customerexperience.png" alt="services" class="img-fluid rounded shadow-sm" >
                    <div class="services-detail-content mt-4 mb-5">
                        <h4 class="mt-5">Customer Experience Excellence</h4>
                        <p>Intellicept aims to Improve the Customer experience by providing more intuitive 
                            and engaging apps and user interfaces. Whether it is designing your next 
                            generation, intuitive web design or managing your devices remotely, our gamut 
                            of services ensures a great sense of satisfaction for our customers in digital 
                            savvy user interaction in all aspects of business ranging from sales to supply 
                            chain to finance. </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="sidebar-right pl-4">

                    <!--all services list-->
                    <aside class="widget widget-categories">
                        <div class="widget-title">
                            <h5>Customer Experience Excellence</h5>
                        </div>
                        <ul class="all-service-list" >
                            <li><a href="customer-experience-excellence">Creative Services</a></li><hr>
                            <li><a href="customer-experience-excellence">Web based Design</a></li><hr>
                            <li><a href="customer-experience-excellence">IoT</a></li><hr>
                            <li><a href="customer-experience-excellence">Mobile Apps</a></li><hr>
                        </ul>
                    </aside>
                    

                </div>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>