<app-header></app-header>
<section class="head-img" style="background: url('/assets/head6.png')no-repeat center center / cover">
    <div class="row justify-content-center">
            <div class="text-header">
                <h1 class="text-white mb-0">Innovation Engine</h1>
               
                </div>
            </div>
</section>


<section class="service-details-section mt-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8">
                <div class="service-details-wrap">
                    <img src="/assets/slider6.png" alt="services" class="img-fluid rounded shadow-sm">
                    <div class="services-detail-content mt-5">
                        <h4>Innovation Engine</h4>
                        <p>To remain relevant in today’s business environment, innovation is not a 
                            luxury or an event anymore. Innovation is anywhere, everywhere, and every 
                            day. It Is important that innovation become a discussion for everyone within 
                            an organization and we offer help to accelerate this process for our customers.</p>
                        <p>We help our customers to help build this thought and set up an innovation
                             driven organization. Our service ranges from trend identification to 
                             develop the prototype for the trend and deliver project in bleeding edge
                              technologies.</p>

                        <div id="accordion-1" class="accordion accordion-faq mt-5">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="sidebar-right pl-4">

                    <!--all services list-->
                    <aside class="widget widget-categories">
                        <div class="widget-title">
                            <h5>Innovation Engine</h5>
                        </div>
                        <ul class="all-service-list">
                            <li><a href="innovation-engine">Identification of trends</a></li><hr>
                            <li><a href="innovation-engine">Map the technology to business needs for future</a></li><hr>
                            <li><a href="innovation-engine">Prototyping</a></li><hr>
                            <li><a href="innovation-engine">Project deployments</a></li><hr>
                        </ul>
                    </aside>

                </div>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>