.head-img {
    height: 300px;
}


h4.section-title, h4, h5 {
    color: red; 
    font-weight: bold;
}


.service-item{
    margin-bottom: 5px;
    color: #707070;
}

.highlight {
    color: black;
}

hr {
    margin: 1rem 0;
    color: inherit;
    border: 0;
    border-top: var(--bs-border-width) solid;
    opacity: .50;
}

.section-heading h4 {
    font-size: 24px;
}

.section-heading p.lead,.lead {
    font-size: 18px;
    // color: #666;
}

 span {
    color: black;
    font: bolder;
    font: 600;
}

// cards sections

.quality-card[_ngcontent-ng-c662536361] .number[_ngcontent-ng-c662536361] {
    color: red;
    margin-bottom: 16px;
    line-height: 1;
    opacity: .4;
    font-size: 22px;
    font-weight: 600;
}
.quality-card[_ngcontent-ng-c662536361] {
    transition: var(--transition);
    background-color: #ffedea;
    margin-bottom: 25px;
    position: relative;
    padding: 30px;
}
p[_ngcontent-ng-c662536361] {
    text-align: justify;
    color: #707070;
}


/* Cards Section */
.promo-block {
    background-color: #f9f9f9;
    padding: 15px 0;
}

.single-promo-block {
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 70%, rgb(245, 243, 243) 100%);    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%; /* Ensure cards take full height */
}

.single-promo-block:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.promo-block-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
}

.promo-block-content img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 15px;
}

.promo-block-content h5 {
    font-size: 20px;
    margin-bottom: 15px;
    color: black;
}

.promo-block-content p {
    font-size: 16px;
}

/* Image Section */
.image-wrap img {
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}


/* Feature Section */
.feature-section {
    padding-bottom: 20px;
}

h4 .highlight {
    color: #1351a8;
}

.quality-card {
    background-color: #ffedea;
    border-radius: 10px;
    padding: 20px;
    transition: all 0.3s ease;
    text-align: center;
}

.quality-card .number {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #1351a8;
}

.quality-card p {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.6;
}

.quality-card i {
    font-size: 40px;
    color: #1351a8;
    margin-bottom: 15px;
}

.quality-card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
