<app-header></app-header>
<section class="hero-section ptb-10" id="demo5" style="background: url('assets/partner.png')no-repeat center center / cover;margin-top: 85px;">
    <div class="hero-bottom-shape-two"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-7">
                <div class="page-header-content text-white text-center pt-sm-5 pt-md-5 pt-lg-0">
                    <h1 class="text-white mb-0">Our Partners</h1>
                </div>
            </div>
        </div>
    </div>
</section>
<h2 class="mt-5">Partners</h2>

<div class="container h-100 mt-5 mb-5">
    <div class="row align-items-center h-100">
      <div class="container rounded">
        <!-- <h1 class="text-center  mb-3" style="color: #333;">Our Clients</h1> -->
        <div class="slider">
          <div class="logos">
              <img class="LogoImg" src="/assets/accelq.png" alt="">
              <img class="LogoImg" src="/assets/erwin.png" alt="">
           <img class="LogoImg" src="/assets/leapwork.png" alt="">
            <img class="LogoImg" src="/assets/posg.png" alt="">   
            <img class="LogoImg" src="/assets/apos.png" alt="">
           <img class="LogoImg" src="/assets/hvr.png" alt="">
           <img class="LogoImg" src="/assets/though (1).png" alt="">
           <img class="LogoImg" src="/assets/accelq.png" alt="">
           <img class="LogoImg" src="/assets/erwin.png" alt="">
        <img class="LogoImg" src="/assets/leapwork.png" alt="">
         <img class="LogoImg" src="/assets/posg.png" alt="">   
         <img class="LogoImg" src="/assets/apos.png" alt="">
        <img class="LogoImg" src="/assets/hvr.png" alt="">
        <img class="LogoImg" src="/assets/though (1).png" alt="">
      </div>
        </div>
      </div>
    </div>
  
  </div>


<section class="promo-block ptb-100 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-lg-4">
                <div class="single-promo-block   rounded">
                    <img src="assets/accelq.png" alt="promo" class="mb-3" width="100">
                    <div class="promo-block-content">
                        <h5>Quality Lifecycle Automation Platform</h5>
                        <p>ACCELQ is the only platform with next-gen approach to manual testing, built to complement its
                            core state-of-the-art Automation capabilities. This consolidated approach brings significant
                            speed and efficiency, enabling Agile Quality Management.</p>
                        <!-- <a href="oracle-service.php" class="detail-link mt-4" style="padding-bottom: 22px;">Read more
                            <span class="ti-arrow-right"></span></a> -->
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4">
                <div class="single-promo-block  rounded">
                    <img src="assets/erwin.png" alt="promo" class="mb-3" width="100">
                    <div class="promo-block-content">
                        <h5>Data Modeling Tools</h5>
                        <p>Data modeling has always been the best way to understand complex data sources and automate
                            design standards and integrity rules. Today, the role of data modeling has expanded as the
                            central point of collaboration between data generators, stewards and consumers.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4">
                <div class="single-promo-block  rounded">
                    <img src="assets/leapwork.png" alt="promo" class="mb-3" width="100">
                    <div class="promo-block-content" >
                        <h5>Test automation and RPA
                        </h5>
                        <p>Leapwork’s completely visual, no-code automation platform makes it easy for business and IT
                            users to automate repetitive processes, so enterprises can adopt and scale automation
                            faster. For rapid results, at lower cost, and requiring fewer specialist resources than
                            traditional automation approaches.

                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="promo-block ptb-100 mb-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-lg-4">
                <div class="single-promo-block  rounded">
                    <img src="assets/posg.png" alt="promo" class="mb-3" width="100">
                    <div class="promo-block-content">
                        <h5>GK Software
                        </h5>
                        <p>GK Software was founded in 1990 and has grown rapidly ever since. The ongoing commitment from
                            both leadership and employees has led GK Software to become the leading European provider of
                            integrated store solutions.

                        </p>
                        
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4">
                <div class="single-promo-block   rounded">
                    <img src="assets/apos.png" alt="promo" class="mb-3" width="100">
                    <div class="promo-block-content">
                        <h5>Airborne Processor Operating System
                        </h5>
                        <p>APOS provides software products which deliver enhanced capabilities and strong agility in the
                            management and administration of SAP BusinessObjects and SAP Analytics Cloud platforms,
                            across the SAP solution landscape, and beyond.

                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4">
                <div class="single-promo-block rounded">
                    <img src="assets/hvr.png" alt="promo" class="mb-3" width="100">
                    <div class="promo-block-content" >
                        <h5>Real-time data replication technology
                        </h5>
                        <p>HVR is a Real-Time Data Replication Software Solution for the enterprise. HVR is designed to
                            integrate large volumes of data FAST and efficiently from systems such as Oracle, SAP, SQL
                            Server to AWS, Snowflake, Azure, and more.

                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>