<app-header></app-header>
<section class="hero-section ptb-10 gradient" id="demo7"
    style="background: url('assets/staffing.jpg')no-repeat center center / cover">
    <div class="hero-bottom-shape-two"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-7">
                <div class="page-header-content text-white text-center pt-sm-5 pt-md-5 pt-lg-0">
                    <h1 class="text-white mb-0">Blog</h1>
                 
                </div>
            </div>
        </div>
    </div>
</section>

<div class="card-container">
    <div class="card">
      <img src="assets/staffing1.jpg" alt="Card Image" class="card-img">
      <div class="card-content">
        <h3>Debunking five common myths about staffing companies</h3>
        <a class="btn btn-primary" href="" routerLink="/staffing-myths-Unveiled">Read More</a>
      </div>
    </div>
  </div>
  
<app-footer></app-footer>