<!-- <section class="hero-section ptb-10 gradient" id="demo7"
    style="background: url('assets/Services.jpg')no-repeat center center / cover">
    <div class="hero-bottom-shape-two"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-7">
                <div class="page-header-content text-white text-center pt-sm-5 pt-md-5 pt-lg-0">
                    <h1 class="text-white mb-0">Our Services</h1>
                 
                </div>
            </div>
        </div>
    </div>
</section>


<section class="promo-block ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-lg-4">
                <div class="single-promo-block shadow-lg p-5 rounded">
                    <img src="assets/oracles.png" alt="promo" class="mb-3" width="100">
                    <div class="promo-block-content">
                        <h5>Partnering with Industry Leaders</h5>
                        <p>At Intellicept, we understand the importance of leveraging the right technology to drive
                            business success. That's why we've established strong alliances with leading technology
                            providers, allowing us to deliver innovative solutions that meet the evolving needs of our
                            clients.</p>
                        <a href="oracle-service.php" class="detail-link mt-4" style="padding-bottom: 22px;">Read more
                            <span class="ti-arrow-right"></span></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4">
                <div class="single-promo-block shadow-lg p-5 rounded">
                    <img src="assets/enterprise.png" alt="promo" class="mb-3" width="100">
                    <div class="promo-block-content">
                        <h5>Enterprise Information Management</h5>
                        <p>Data is the most important factor for making insight-based decisions at any
                            organization and we aim to make this work for you. Platform agnostic services
                            will ensure that you have the access to industry’s best standards for leveraging
                            the data across your entire organization.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4">
                <div class="single-promo-block shadow-lg p-5 rounded">
                    <img src="assets/big.png" alt="promo" class="mb-3" width="100">
                    <div class="promo-block-content" style="padding-bottom: 75px;">
                        <h5>Big Data Analytics</h5>
                        <p>We help you to build and execute your data strategy. Various aspects of data
                            management is offered by us as we partner some of the leading names in
                            industry to offer the best in class data management solution.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="promo-block ptb-100" style="margin-top:-150px;">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-lg-4">
                <div class="single-promo-block shadow-lg p-5 rounded">
                    <img src="assets/api.png" alt="promo" class="mb-3" width="100">
                    <div class="promo-block-content">
                        <h5>API and Microservices Development</h5>
                        <p>We offer Microservice architecture development in DevOps and Continuous Testing
                            mode to our customers. It helps them to focus on building single-function
                            modules with well-defined interfaces and operations. </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4">
                <div class="single-promo-block shadow-lg p-5 rounded">
                    <img src="assets/auto.png" alt="promo" class="mb-3" width="100">
                    <div class="promo-block-content" style="padding-bottom: 22px;">
                        <h5>Automation</h5>
                        <p>Process and technology automation are part of all technology landscapes, and we are at the
                            forefront of this practice. We can offer business process, test and development automation
                            practices by combining leading tools from industry.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4">
                <div class="single-promo-block shadow-lg p-5 rounded">
                    <img src="assets/clo.png" alt="promo" class="mb-3" width="100">
                    <div class="promo-block-content" style="padding-bottom: 47px;">
                        <h5>Cloud Infrastructure</h5>
                        <p>We help our customers to become more agile, nimble and cost efficient by helping them migrate
                            their computing infrastructure from on premises to industry leading hyperscalers.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="promo-block ptb-100" style="margin-top:-150px;">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-lg-4">
                <div class="single-promo-block shadow-lg p-5 rounded" style="height:100%;">
                    <img src="assets/seo.png" alt="promo" class="mb-3" width="100">
                    <div class="promo-block-content">
                        <h5>SEO Services</h5>
                        <p>At Intellicept, we offer SEO services crafted for each client’s specific needs. Our team of
                            SEO
                            experts use proven strategies and tactics to improve search engine rankings, increase
                            organic
                            traffic, and drive more revenue for businesses. Our proven SEO strategies will help you rank
                            higher on Google and other search engines generating high-quality traffic to your website.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4">
                <div class="single-promo-block shadow-lg p-5 rounded" style="height:100%;">
                    <img src="assets/socialMedia.png" alt="promo" class="mb-3" width="100">
                    <div class="promo-block-content" style="padding-bottom: 22px;">
                        <h5>Social Media Marketing</h5>
                        <p>Intellicept's social media marketing services are designed to help businesses increase brand
                            awareness, engage with their target audience, and drive more traffic to their website. No
                            two
                            strategies are alike, and our team of social media experts keep the needs of clients in mind
                            to
                            create and execute strategies across various platforms to achieve measurable results. Boost
                            your business profitability with social media! Reach potential customers through our
                            targeted ads and engaging content. Let our expert social media team help you today. </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4">
                <div class="single-promo-block shadow-lg p-5 rounded" style="height:100%;">
                    <img src="assets/googleAds.png" alt="promo" class="mb-3" width="100">
                    <div class="promo-block-content" style="padding-bottom: 47px;">
                        <h5>Google Ads</h5>
                        <p>At Intellicept, we understand the importance of Google Ads in driving online traffic and
                            generating revenue for businesses. To this end, we offer a comprehensive range of Google Ads
                            services to help our clients achieve substantial digital footfall. Our team of experts
                            develop and
                            execute campaigns that deliver measurable results and maximize ROI.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="promo-block ptb-100" style="margin-top:-150px;">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-lg-4">
                <div class="single-promo-block shadow-lg p-5 rounded" style="height:100%;">
                    <img src="assets/download.png" alt="promo" class="mb-3" width="100">
                    <div class="promo-block-content">
                        <h5>Email Marketing</h5>
                        <p>Intellicept offers comprehensive email marketing services that help businesses reach and
                            engage with their target audience. Our team creates bespoke email campaigns with respect to
                            the needs of our clients, using proven strategies and tactics to maximize open and
                            click-through
                            rates, ultimately segueing into conversions.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-2"></div>
            <div class="col-md-6 col-lg-6">
                <div class="contact-us-form gray-light-bg rounded p-5">
                    <form name="contactFormEmail" method="post">
                        <div class="form-row">
                            <div class="col-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="userName" placeholder="Enter name"
                                        id="userName" required="required">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <input type="email" class="form-control" name="userEmail" placeholder="Enter email"
                                        required="required" id="userEmail">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="userPhone" placeholder="Mobile No"
                                        id="userPhone" required="required">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <textarea name="userMessage" id="userMessage" class="form-control" rows="7"
                                        cols="25" placeholder="Message"></textarea>
                                </div>
                            </div>
                            <div class="col-sm-12 mt-3">
                                <button type="submit" name="send" value="Submit" class="btn secondary-solid-btn">
                                    Send Message
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="promo-block ptb-100" style="margin-top:-150px;">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-lg-4">
                <div class="single-promo-block shadow-lg p-5 rounded" style="height:100%;">
                    <img src="assets/str.png" alt="promo" class="mb-3" width="100">
                    <div class="promo-block-content">
                        <h5>Strategy Consulting</h5>
                        <p>The most part of our offering is our experience in industry, and we partner with our clients
                            to keep current by leveraging our experience and expertise.
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section> -->