.head-img{
    height: 250px;
}
p{
    line-height: 25px;
}
.text-header h1{
    text-align: center;
    align-items: center;
    position: relative;
    top: 100px;
    font-weight: 700;
    color: #fff;
    font-size: 50px;
}

// ----------------cards css -------------------
.single-promo-block {
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 70%, rgba(153,187,224,1) 100%);
        border-radius: 8px;
    padding: 25px;     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
    height: 200px;
    // margin-top: 20px; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.single-promo-block:hover {
    transform: translateY(-5px);
    
}

.single-promo-block img {
    margin-bottom: 15px; 
    width: 80px;
    height: auto;
}

.promo-block-content {
    text-align: left;
    flex-grow: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.single-promo-block h5 {
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 10px;
    color: #333;
}

.single-promo-block p {
    font-size: 1rem; 
    // line-height: 1.4;
    color: #666;
    flex-grow: 1;
}

.detail-link {
    display: inline-block;
    font-size: 0.9rem;
    font-weight: 500;
    color: #007bff;
    text-decoration: none;
    position: relative;
    transition: color 0.3s ease;
    // align-self: flex-end;
}

@media (max-width: 768px) {
    .single-promo-block {
        height: auto; 
        margin-bottom: 20px;
    }
}


// -----------------------------form css-----------------------------
.contact-us-section{
    margin: 80px 0px 40px 0px;
}
.contact-us-form {
    // background-color: #e7e1e1;
    border-radius: 8px;
    padding: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-control {
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 1rem;
}

.form-group {
    margin-bottom: 20px;
}

.invalid-feedback div{
    color: #dc3545;
}

.submitBtn {
    background-color: #0056b3;
    color: #fff;
    padding: 10px 20px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submitBtn:hover {
    background-color: #007bff;
}

.text-danger {
    font-size: 0.8rem;
    color: #dc3545;
    margin-top: 5px;
}
.loading-dots {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .dot {
    width: 10px;
    height: 10px;
    margin: 0 5px;
    margin-top: 20%;
    background-color: #000;
    border-radius: 50%;
    animation: bounce 1.5s infinite ease-in-out;
  }
  
  .dot:nth-child(2) {
    animation-delay: 0.3s;
  }
  
  .dot:nth-child(3) {
    animation-delay: 0.6s;
  }
  
  @keyframes bounce {
    0%, 100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.5);
    }
  }
  