<section class="hero-equal-height pt-165 pb-100" style="background: url('/assets/bg-illustration.png') no-repeat center center / cover">
    <div class="hero-bottom-shape-two" style="background: url('assets/hero-bottom-shape.png') no-repeat bottom center"></div>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-12 col-lg-6">
                <div class="hero-slider-content text-white z-index position-relative">
                    <h1 class="text-white" id="res" style="font-size: 55px;">Digital Transformation</h1>
                    <h2 class="text-white">Enabled for tomorrow’s business</h2>
                    <p class="lead">Transform the way you do business by providing an extremely engaging experience for your customer.</p>

                    <div class="action-btns mt-3">
                        <a href="contact-us" class="btn accent-solid-btn">Contact us</a>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-6">
                <div class="hero-animation-img position-relative">
                    <img src="assets/hero-animation-01.png" alt="hero" class="img-fluid d-none d-lg-block touching-images moved-image animation-up-down" width="130">
                    <img src="assets/hero-single-img-5.png" alt="hero" class="animation-one img-fluid custom-width animation-up-down" >
                </div>
            </div>
        </div>
    </div>
</section>
