<app-header></app-header>
<!-- <app-header></app-header> -->
<section class="hero-equal-height pt-165 pb-100" style="background: url('/assets/bg-illustration.png') no-repeat center center / cover">
    <div class="hero-bottom-shape-two" style="background: url('assets/hero-bottom-shape.png') no-repeat bottom center"></div>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-12 col-lg-6">
                <div class="hero-slider-content text-white z-index position-relative">
                    <h1 class="text-white" id="res" style="font-size: 55px;">Digital Transformation</h1>
                    <h2 class="text-white">Enabled for tomorrow’s business</h2>
                    <p class="lead">Transform the way you do business by providing an extremely engaging experience for your customer.</p>

                    <div class="action-btns mt-3">
                        <a href="contact-us" class="btn accent-solid-btn">Contact us</a>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-6">
                <div class="hero-animation-img position-relative">
                    <img src="assets/hero-animation-01.png" alt="hero" class="img-fluid d-none d-lg-block touching-images moved-image animation-up-down" width="130">
                    <img src="assets/hero-single-img-5.png" alt="hero" class="animation-one img-fluid custom-width animation-up-down" >
                </div>
            </div>
        </div>
    </div>
</section>

<section class="promo-block ptb-100">
    <div class="container">
        <div class="row colgap">   
            <div class="col-md-6 col-lg-4 dot-bg-shape dot-bg-1">
                <div class="promo-counter text-center white-bg p-5">
                    <div class="counter-number d-inline-flex align-items-center mb-4">
                        <h2 class="mb-0">50%</h2>
                        <span class="color-5 color-5-bg ml-2 p-2 rounded-circle">
                            <i class="fas fa-arrow-up icon-25"></i>
                        </span>
                    </div>
                    <h5>Business Value Realization</h5>
                    <p>Meaningful progress for business with every single initiative for development.</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 dot-bg-shape dot-bg-2">
                <div class="promo-counter text-center white-bg p-5">
                    <div class="counter-number d-inline-flex align-items-center mb-4">
                        <h2 class="mb-0">75%</h2>
                        <span class="color-5 color-5-bg ml-2 p-2 rounded-circle">
                            <i class="fas fa-arrow-up icon-25"></i>
                        </span>
                    </div>
                    <h5>Data Availability</h5>
                    <p style="padding-bottom: 25px;">Enterprise data availability for critical business decisions in real time.</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 dot-bg-shape dot-bg-3">
                <div class="promo-counter text-center white-bg p-5">
                    <div class="counter-number d-inline-flex align-items-center mb-4">
                        <h2 class="mb-0">30%</h2>
                        <span class="color-5 color-5-bg ml-2 p-2 rounded-circle">
                            <i class="fas fa-arrow-up icon-25"></i>
                        </span>
                    </div>
                    <h5>New Customers</h5>
                    <p>Emergence of new business due to radically different application user friendliness and intuitiveness.</p>
                </div>
            </div>
        </div>
        
    </div>
</section>


<section class="about-us-section pb-100 ">
    <div class="container">
        <div class="row justify-content-between align-items-center ">
            <div class="col-md-12 col-lg-6">
                <div class="video-promo-content mb-md-4 mb-lg-0">
                    <h4>Create Exceptional Customer Experience through Digital Transformation  </h4>
                    <p>Intellicept can help you with its expertise across Front End Digital experiences, API’s and Microservices, Cloud Migration, Big Data and Custom app development. </p>
                    <!-- <ul class="list-unstyled tech-feature-list">
                        <li class="fa fa-angle-double-right" aria-hidden="true"><span class="ti-control-forward mr-2 color-secondary"></span>Consumer oriented User Interface</li><br>
                        <li class="fa fa-angle-double-right" aria-hidden="true"><span class="ti-control-forward mr-2 color-secondary"></span>Seamless Cloud Migration</li><br>
                        <li class="fa fa-angle-double-right" aria-hidden="true"><span class="ti-control-forward mr-2 color-secondary"></span>Microservices and API for global applications</li>
                        <li class="fa fa-angle-double-right" aria-hidden="true"><span class="ti-control-forward mr-2 color-secondary"></span>Big Data and Analytics for strategic business Insights</li>
                        <li class="fa fa-angle-double-right" aria-hidden="true"><span class="ti-control-forward mr-2 color-secondary"></span>Custom app development for ever changing businesses</li>
                    </ul> -->
                    <ul>
                        <li>Consumer oriented User Interface</li>
                        <li>Consumer oriented User Interface</li>
                        <li>Consumer oriented User Interface</li>
                        <li>Consumer oriented User Interface</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-12 col-lg-6">
                <div class="image-wrap">
                    <img src="assets/Digital-Transformation.png" alt="img" class="img-fluid">
                </div>
            </div>
        </div>
        <div class="row justify-content-between align-items-center" style="margin-top:30px">
            <div class="col-md-12 col-lg-6">
                <div class="image-wrap">
                    <img src="assets/digital.png" alt="img" class="img-fluid">
                </div>
            </div>
            <div class="col-md-12 col-lg-6">
                <div class="video-promo-content mb-md-4 mb-lg-0">
                    <p>Intellicept is a full-service digital marketing agency that provides a comprehensive range of
                    services to help businesses of all sizes achieve their marketing goals. With a team of
                    experienced professionals, we specialize in providing services including, but not limited to, SEO,
                    Google Ads implementation, social media marketing and email marketing. </p>
                    <p>Our mission is to help businesses establish a presence in the minds of consumers and succeed
                    in today's ever-evolving digital landscape. We leverage the latest technologies, strategies, and
                    tactics to develop custom solutions that deliver measurable results and drive revenue growth.</p>
                </div>
            </div>     
        </div>
        <div class="row justify-content-between align-items-center" style="margin-top:30px">
            <div class="col-md-12 col-lg-6">
                <div class="video-promo-content mb-md-4 mb-lg-0">
                    <p>At Intellicept, we believe that every business is unique, and we work closely with our clients to
                    understand their specific needs and challenges. Whether you're looking to improve your
                    website's search engine rankings, increase your social media engagement, or boost your email
                    marketing campaigns, we have the expertise to deliver robust solutions. </p>
                    <p>Our commitment to delivering exceptional customer service, transparency, and accountability
                    sets us apart from other digital marketing agencies. When you work with us, you can expect a
                    collaborative, results-driven approach that puts your business first. Contact us today to learn
                    how we can help you achieve your marketing goals. </p>
                </div>
            </div>   
            <div class="col-md-12 col-lg-6">
                <div class="image-wrap">
                    <img src="assets/digital1.png" alt="img" class="img-fluid">
                </div>
            </div>  
        </div>
    </div>
</section>


<section class="services-section ptb-100 ">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="section-heading text-center mb-5">
                    <h3>Intellicept guarantees exemplary service levels</h3>
                    <p class="lead" style="color: #333;">Our goal is to ensure that our customer can achive the benefits of being digital native with a strong focus on cost effectiveness.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="services-single animated-hover text-center p-5 my-md-3 my-lg-3 my-sm-0 shadow-sm white-bg rounded">
                    <img src="assets/home1.png" alt="consulting" width="80" class="mb-3">
                    <h5>Customer Experience Excellence</h5>
                    <p class="mb-0">Improve your Customer  experience by providing more intuitive and engaging apps and user interfaces.</p>
                    <a href="customer-experience-excellence" class="detail-link mt-4" style="padding-bottom: 25px;">Read more <span class="fa fa-arrow-right"></span></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="services-single animated-hover text-center p-5 my-md-3 my-lg-3 my-sm-0 shadow-sm white-bg rounded">
                    <img src="assets/bot.png" alt="consulting" width="80" class="mb-3">
                    <h5>Business Process Execution</h5>
                    <p class="mb-0">Manage your business process efficiently with tools for tomorrow – RPA, Digital Robots and efficient apps.</p>
                    <a href="business-process-execution" class="detail-link mt-4">Read more <span class="fa fa-arrow-right"></span></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="services-single animated-hover text-center p-5 my-md-3 my-lg-3 my-sm-0 shadow-sm white-bg rounded">
                    <img src="assets/data-analytics.svg" alt="consulting" width="80" class="mb-3">
                    <h5>Data Analytics</h5>
                    <p class="mb-0">Get real time insights into your business by being hyper efficient in you Data management and visualization.</p>
                    <a href="data-analytics" class="detail-link mt-4" style="padding-bottom: 22px;">Read more <span class="fa fa-arrow-right"></span></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="services-single animated-hover text-center p-5 my-md-3 my-lg-3 my-sm-0 shadow-sm white-bg rounded">
                    <img src="assets/data-security.svg" alt="consulting" width="80" class="mb-3">
                    <h5>Digital Transformation professional Services</h5>
                    <p class="mb-0">Transform your organization for tomorrow by leveraging our Strategy Consulting and need based staff augmentation.</p>
                    <a href="digital-transformation" class="detail-link mt-4">Read more <span class="fa fa-arrow-right"></span></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="services-single animated-hover text-center p-5 my-md-3 my-lg-3 my-sm-0 shadow-sm white-bg rounded">
                    <img src="assets/artificial-intelligence.svg" alt="consulting" width="80" class="mb-3">
                    <h5>Cloud Migration Services</h5>
                    <p class="mb-0">Reduce your Infrastructure costs and overheads by migrating your workloads and application to global hyperscalers for high availability.</p>
                    <a href="cloud-migration-services" class="detail-link mt-4" style="padding-bottom: 22px;">Read more <span class="fa fa-arrow-right"></span></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="services-single animated-hover text-center p-5 my-md-3 my-lg-3 my-sm-0 shadow-sm white-bg rounded">
                    <img src="assets/internet-things.svg" alt="consulting" width="80" class="mb-3">
                    <h5>Innovation Engine</h5>
                    <p class="mb-0">Adopt cultural shift from being a follower to an Innovator. Build application leveraging AI, ML, Blockchain and IoT.</p>
                    <a href="innovation-engine" class="detail-link mt-4" style="padding-bottom: 22px;">Read more <span class="fa fa-arrow-right"></span></a>
                </div>
            </div>
        </div>
    </div>
</section>




<section class="our-portfolio-section ptb-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="section-heading text-center mb-5">
                    <h2>Our work speaks for itself</h2>
                    <p class="lead" style="color: #333;">We have been helping our clients on their digital journey. Some of our work had been highlighted below.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <!-- <div class="text-center pb-2">
                    <button type="button" class="filter-btn" data-mixitup-control data-filter="all">All</button>
                    <button type="button" class="filter-btn" data-mixitup-control data-filter=".branding">Branding</button>
                    <button type="button" class="filter-btn" data-mixitup-control data-filter=".animation">Animation</button>
                    <button type="button" class="filter-btn" data-mixitup-control data-filter=".other">Others</button>
                </div> -->
                <div class="portfolio-container" id="MixItUp">
                    <div class="mix portfolio-item branding" data-ref="mixitup-target">
                        <div class="portfolio-wrapper">
                                <div class="content-overlay"></div>
                                <img class="img-fluid" src="assets/work1.jpg" alt="portfolio">
                                <div class="content-details fadeIn-bottom text-white">
                                    <!-- <h5 class="text-white mb-1">Creative Design</h5> -->
                                    <p>Website Redesign for a leading Education Company</p>
                                </div>
                        </div>
                    </div>
                    <div class="mix portfolio-item other animation" data-ref="mixitup-target">
                        <div class="portfolio-wrapper">
                                <div class="content-overlay"></div>
                                <img class="img-fluid" src="assets/work2.jpg" alt="portfolio">
                                <div class="content-details fadeIn-bottom text-white">
                                    <!-- <h5 class="text-white mb-1">Web UI/UX Design</h5> -->
                                    <p>Automation Services for the City of Orange</p>
                                </div>
                        </div>
                    </div>
                    <div class="mix portfolio-item animation" data-ref="mixitup-target">
                        <div class="portfolio-wrapper">
                                <div class="content-overlay"></div>
                                <img class="img-fluid" src="assets/work3.jpg" alt="portfolio">
                                <div class="content-details fadeIn-bottom text-white">
                                    <!-- <h5 class="text-white mb-1">Corporate Flyer Design</h5> -->
                                    <p>Custom App developed for the largest cable maker in USA</p>
                                </div>
                        </div>
                    </div>
                    <div class="mix portfolio-item branding" data-ref="mixitup-target">
                        <div class="portfolio-wrapper">
                                <div class="content-overlay"></div>
                                <img class="img-fluid" src="assets/work4.jpg" alt="portfolio">
                                <div class="content-details fadeIn-bottom text-white">
                                    <!-- <h5 class="text-white mb-1">Web UI/UX Design</h5> -->
                                    <p>Analytics platform for a Travel retailer</p>
                                </div>
                        </div>
                    </div>
                    <div class="mix portfolio-item animation other" data-ref="mixitup-target">
                        <div class="portfolio-wrapper">
                                <div class="content-overlay"></div>
                                <img class="img-fluid" src="assets/work5.jpg" alt="portfolio">
                                <div class="content-details fadeIn-bottom text-white">
                                    <!-- <h5 class="text-white mb-1">Wall Painting Design</h5> -->
                                    <p>Data Management Strategy Development for a Fashion Retailer</p>
                                </div>
                        </div>
                    </div>
                    <div class="mix portfolio-item branding " data-ref="mixitup-target">
                        <div class="portfolio-wrapper">
                            <!-- <a href="project-details.html" target="_blank"> -->
                                <div class="content-overlay"></div>
                                <img class="img-fluid" src="assets/work6.jpg" alt="portfolio">
                                <div class="content-details fadeIn-bottom text-white">
                                    <!-- <h5 class="text-white mb-1">Corporate Identity Design</h5> -->
                                    <p>Spend Management App with real time insights</p>
                                </div>
                            <!-- </a> -->
                        </div>
                    </div>
                    <!-- <div class="gap"></div> -->
                    <!-- <div class="gap"></div> -->
                    <!-- <div class="gap"></div> -->
                </div>
            </div>
        </div>
    </div>
</section>


<section class="testimonial-section ptb-10 ">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-9 col-lg-8">
                <div class="section-heading mb-5 text-center">
                    <h2>What Our clients say about us</h2>
                    <p class="lead" style="color: #333;" >
                    Intellicept is the Digital Business unit of McKinsol Consulting and we have gained tremendous amount of trust and accolades from our clients.
                    </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 col-lg-4">
                <div class="testimonial-single shadow-lg  rounded p-4">
                    <blockquote>
                    Our Pilot project around inventory sensors is appealing to our business. We are working on formalities to sign up with business to implement solution at few stores. Really liked the work and thinking of NeuVays team. I really appreciate.
                    <h5 class="mt-2"> Director, Business Applications<br>(Grocery)</h5>
                        
                </blockquote>
                </div>
               
            </div>
            <div class="col-md-4 col-lg-4">
                <div class="testimonial-single shadow-lg  rounded p-4">
                    <blockquote>
                    Working with McKinsol’s NeuVays is a pleasure, team is hardworking, dedicated and innovative. ! They provided us with an innovative way of working and provided solutions that was very user friendly and was well absorbed in our retail industry.
                    <h5 class="mt-2">VP (IT) Consumer Product Retailer</h5>   
                </blockquote>
                </div>
               
            </div>
            <div class="col-md-4 col-lg-4">
                <div class="testimonial-single shadow-lg  rounded p-4">
                    <blockquote style="padding-bottom: 26px;">
                    We were stuck into providing a solution to our customers, we consulted Consulting, they not only provided with the right strategy but also helped brainstorm the solution.
                    <h5 class="mt-">President, Retail Chain</h5>    
                </blockquote>
                </div>
             
            </div>
        </div>

    </div>
</section>




<section class="team-two-section ptb-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-8">
                <div class="section-heading text-center">
                    <h2>Our Team</h2>
                    <p class="lead mb-5" style="color: #333;" >The Core leadership Team of Intellicept had a tremendous amount of Industry Experience and thought leadership.</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center"> <!-- Added justify-content-center to center the cards -->
            <!-- Staff Member Card 1 -->
            <div class="col-md-6 col-lg-4 d-flex justify-content-center"> <!-- Centered each card with flexbox -->
                <div class="staff-member position-relative">
                    <div class="card text-center border-0">
                        <img src="/assets/AnuragVarshney.jpg" alt="team image" class="card-img-top">
                        <div class="card-body">
                            <h5 class="teacher mb-0">Anurag Varshney</h5>
                            <span>PRESIDENT / CHIEF ARCHITECT</span>
                        </div>
                    </div>
                    <div class="overlay d-flex align-items-center justify-content-center">
                        <div class="overlay-inner">
                            <p class="teacher-quote">Anurag is an accomplished IT & SAP Executive and expert in SAP S/4 HANA Retail & CAR with proven experience in Retail, Fashion, CPG and Life Sciences with 23+ years of achievement in</p>
                            <button id="myBtnONE" (click)="openModal('modalOne')"><span class="txt">View more</span></button>
                            <h5 class="mb-0 teacher text-white">Anurag Varshney</h5>
                            <span class="teacher-field text-white">PRESIDENT / CHIEF ARCHITECT</span>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Staff Member Card 2 -->
            <div class="col-md-6 col-lg-4 d-flex justify-content-center">
                <div class="staff-member position-relative">
                    <div class="card text-center border-0">
                        <img src="/assets/mayankGupta.jpg" alt="team image" class="card-img-top">
                        <div class="card-body">
                            <h5 class="teacher mb-0">Mayank Gupta</h5>
                        </div>
                    </div>
                    <div class="overlay d-flex align-items-center justify-content-center">
                        <div class="overlay-inner">
                            <p class="teacher-quote">Mayank is an experienced and certified SAP professional with a demonstrated history of working in the apparel, fashion and retail industry. He is strong professional with a Master of Science (BS) degree focused in Computer Science</p>
                            <button id="myBtnTWO" (click)="openModal('modalTwo')"><span class="txt">View More</span></button>
                            <h5 class="mb-0 teacher text-white">Mayank Gupta</h5>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Staff Member Card 3 -->
            <div class="col-md-6 col-lg-4 d-flex justify-content-center">
                <div class="staff-member position-relative">
                    <div class="card text-center border-0">
                        <img src="/assets/gauravMishra.jpg" alt="team image" class="card-img-top">
                        <div class="card-body">
                            <h5 class="teacher mb-0">Gaurav Mishra</h5>
                        </div>
                    </div>
                    <div class="overlay d-flex align-items-center justify-content-center">
                        <div class="overlay-inner">
                            <p class="teacher-quote">Goal oriented Enterprise Solution Advisor with 14+ years in the areas of SAP Consulting, Enterprise Software Applications, Presales, Team Management, Revenue Generation. Possess comprehensive skill sets in Enterprise Resource Planning and Retail Management.</p>
                            <button id="myBtnSIX" (click)="openModal('modalThree')"><span class="txt">View More</span></button>
                            <h5 class="mb-0 teacher text-white">Gaurav Mishra</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

  
  <!-- Modal Structure -->
  <div *ngIf="isModalOpen" class="modal">
    <div class="modal-content">
      <div class="close" (click)="closeModal()">&times;</div>
      <div class="modal-body">
        <img [src]="modalData.image" alt="team image" class="model-img-top" />
        <div class="text-content">
          <h5 class="teacher mb-0">{{modalData.name}}</h5>
          <span>{{modalData.title}}</span>
          <ul class="list-inline pt-2 social">
            <li class="list-inline-item">
              <a [href]="modalData.linkedin" target="_blank">
                <span class="ti-linkedin"></span>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <p>{{modalData.description}}</p>
    </div>
  </div>


<section class="call-to-action py-5">
    <div class="container">
        <div class="row justify-content-around align-items-center">
            <div class="col-md-7">
                <div class="subscribe-content">
                    <h5 class="mb-1">Your Preferred partner for Digital Transformation Services</h5>
                    <!-- <p>Rapidiously engage fully tested e-commerce with progressive architectures.</p> -->
                </div>
            </div>
            <div class="col-md-4">
                <div class="action-btn text-lg-right text-sm-left">
                    <a href="contact-us" class="btn secondary-solid-btn">Contact With Us</a>
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>


