<app-header></app-header>
<section class="hero-section ptb-10" id="demo5" style="background: url('assets/industries.png')no-repeat center center / cover">
    <div class="hero-bottom-shape-two"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-7">
                <div class="page-header-content text-white text-center pt-sm-5 pt-md-5 pt-lg-0">
                    <h1 class="text-white mb-0">Industries</h1>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="our-portfolio-section ptb-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <!-- <div class="section-heading text-center mb-5">
                    <h2>Our work speaks for itself</h2>
                    <p class="lead">We have been helping our clients on their digital journey. Some of our work had been highlighted below.</p>
                </div> -->
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <!-- <div class="text-center pb-2">
                    <button type="button" class="filter-btn" data-mixitup-control data-filter="all">All</button>
                    <button type="button" class="filter-btn" data-mixitup-control data-filter=".branding">Branding</button>
                    <button type="button" class="filter-btn" data-mixitup-control data-filter=".animation">Animation</button>
                    <button type="button" class="filter-btn" data-mixitup-control data-filter=".other">Others</button>
                </div> -->
                <div class="portfolio-container" id="MixItUp">
                    <div class="mix portfolio-item branding" data-ref="mixitup-target">
                        <div class="portfolio-wrapper">
                                <div class="content-overlay"></div>
                                <img class="img-fluid" src="assets/retail.png" alt="portfolio">
                                <div class="content-details fadeIn-bottom text-white">
                                    <!-- <h5 class="text-white mb-1">Creative Design</h5> -->
                                    <h5>Retail</h5>
                                </div>
                        </div>
                    </div>
                    <div class="mix portfolio-item other animation" data-ref="mixitup-target">
                        <div class="portfolio-wrapper">
                                <div class="content-overlay"></div>
                                <img class="img-fluid" src="assets/fsion1.png" alt="portfolio">
                                <div class="content-details fadeIn-bottom text-white">
                                    <!-- <h5 class="text-white mb-1">Web UI/UX Design</h5> -->
                                    <h5>Fashion</h5>
                                </div>
                        </div>
                    </div>
                    <div class="mix portfolio-item animation" data-ref="mixitup-target">
                        <div class="portfolio-wrapper">
                                <div class="content-overlay"></div>
                                <img class="img-fluid" src="assets/man2.png" alt="portfolio">
                                <div class="content-details fadeIn-bottom text-white">
                                    <!-- <h5 class="text-white mb-1">Corporate Flyer Design</h5> -->
                                    <h5>Manufacturing</h5>
                                </div>
                        </div>
                    </div>
                    <div class="mix portfolio-item branding" data-ref="mixitup-target">
                        <div class="portfolio-wrapper">
                                <div class="content-overlay"></div>
                                <img class="img-fluid" src="assets/life.png" alt="portfolio">
                                <div class="content-details fadeIn-bottom text-white">
                                    <!-- <h5 class="text-white mb-1">Web UI/UX Design</h5> -->
                                    <h5>Life Sciences</h5>
                                </div>
                        </div>
                    </div>
                    <div class="mix portfolio-item animation other" data-ref="mixitup-target">
                        <div class="portfolio-wrapper">
                                <div class="content-overlay"></div>
                                <img class="img-fluid" src="assets/goods1.png" alt="portfolio">
                                <div class="content-details fadeIn-bottom text-white">
                                    <!-- <h5 class="text-white mb-1">Wall Painting Design</h5> -->
                                    <h5>Consumer Goods</h5>
                                </div>
                        </div>
                    </div>
                    <div class="mix portfolio-item branding " data-ref="mixitup-target">
                        <div class="portfolio-wrapper">
                            <!-- <a href="project-details.html" target="_blank"> -->
                                <div class="content-overlay"></div>
                                <img class="img-fluid" src="assets/sale1.png" alt="portfolio">
                                <div class="content-details fadeIn-bottom text-white">
                                    <!-- <h5 class="text-white mb-1">Corporate Identity Design</h5> -->
                                    <h5>Wholesale Distribution</h5>
                                </div>
                            <!-- </a> -->
                        </div>
                    </div>
                    <div class="gap"></div>
                    <div class="gap"></div>
                    <div class="gap"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>