<app-header></app-header>

<div class="main" style="margin-top: 85px;">

    <!--header section start-->
    <section class="hero-section ptb-100" id="demo5"
        style="background: url('/assets/about-us.png')no-repeat center center / cover">
        <div class="hero-bottom-shape-two"></div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 col-lg-7">
                    <div class="page-header-content text-white text-center pt-sm-5 pt-md-5 pt-lg-0">
                        <h1 class="text-white mb-0">About Us</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--header section end-->


    <!--promo section end-->
    <div class="row justify-content-center mt-5 mb-5">
        <div class="col-md-10" style="text-align:justify;">
            <div class="section-heading text-center mt-4">
                <p class="lead">With a strong focus on Digital enablement and client focus coupled with execution of
                    next gen technologies, Intellicept is striving to be at the forefront of transformation for its
                    clients across various industry sectors. </p>
                <p class="lead">The roots of Intellicept originate from strong foundation of technology laid by its
                    parent firm McKinsol Consulting Inc. which is a well-known name in SAP S4 HANA based projects in
                    Retail and Fashion Industry.</p>
                <p class="lead">Intellicept aims to work with the businesses across all industries to enable meaningful
                    and lucid digital tech adoption for long term sustainable profits for the organizations of all size.
                </p>
            </div>
        </div>
    </div>

    <!--about us section start-->
    <section class="about-us-section ptb-10">
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <div class="col-md-12 col-lg-5">
                    <div class="video-promo-content mb-md-4 mb-lg-0">
                        <h2 style="color: #333;">Digital Business Services</h2>
                        <p style="line-height: 30px;">The broad category of services provided by Intellicept are aligned
                            with agile adoption of tech, faster deployment and continuous improvement.</p>
                        <ul class="list-unstyled tech-feature-list">
                            <li class="py-1"><i class="fa fa-check-square-o" aria-hidden="true"></i>Customer Experience
                                Excellence</li>
                            <li class="py-1"><i class="fa fa-check-square-o" aria-hidden="true"></i>
                                Business Process Execution</li>
                            <li class="py-1"><i class="fa fa-check-square-o" aria-hidden="true"></i>
                                Business Analytics and Intelligence</li>
                            <li class="py-1"><i class="fa fa-check-square-o" aria-hidden="true"></i>
                                Digital Transformation Services</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-12 col-lg-6">
                    <div class="card border-0 shadow-sm text-white">
                        <img src="/assets/diti.jpg" alt="" class="img-fluid rounded shadow-sm">
                        <!-- <div class="card-img-overlay text-center">
                            <a href="https://www.youtube.com/watch?v=9No-FiEInLA" class="popup-youtube video-play-icon color-bip shadow"><span class="ti-control-play"></span> </a>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--about us section end-->

    <!--our work process section start-->
    <section class="work-process-new ptb-100 gray-light-bg ">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-9 col-lg-8">
                    <div class="section-heading text-center mb-5">
                        <h2 style="color: #000; ">Our Engagement Model</h2>
                        <p class="lead">Intellicept works with key stakeholders from all facets of business by engaging
                            them in an agile and design-oriented technology built.</p>
                    </div>
                </div>
            </div>
            <div class="row text-center mt-4">
                <div class="col-md-3">
                    <div class="single-work-process">
                        <div class="work-process-icon-wrap secondary-bg rounded">
                            <i class="fas fa-project-diagram text-white workIcon" aria-hidden="true"></i>
                            <span class="process-step primary-bg text-white shadow-sm">1</span>
                        </div>
                        <!-- <span class="work-process-divider">-&nbsp;-&nbsp;-&nbsp;-&nbsp;-<i class="fa fa-solid fa-chevron-right"></i></span> -->
                        <div class="work-process-content mt-4">
                            <h5>Design Thinking Workshops</h5>
                            <p>User oriented design process.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="single-work-process">
                        <div class="work-process-icon-wrap secondary-bg rounded">
                            <i class="fa fa-outdent text-white workIcon" aria-hidden="true"></i>
                            <span class="process-step primary-bg text-white shadow-sm">2</span>
                        </div>
                        <!-- <span class="work-process-divider">-&nbsp;-&nbsp;-&nbsp;-&nbsp;-<i class="fa fa-solid fa-chevron-right"></i></span> -->
                        <div class="work-process-content mt-4">
                            <h5>Ideation and Conceptualization</h5>
                            <p>Hash out the process and key deliverables.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="single-work-process">
                        <div class="work-process-icon-wrap secondary-bg rounded">
                            <i class="fas fa-users text-white workIcon" aria-hidden="true"></i>
                            <span class="process-step primary-bg text-white shadow-sm">3</span>
                        </div>
                        <!-- <span class="work-process-divider">-&nbsp;-&nbsp;-&nbsp;-&nbsp;-<i class="fa fa-solid fa-chevron-right"></i></span> -->
                        <div class="work-process-content mt-4">
                            <h5>Prototype Build</h5>
                            <p>Build pilot and prototype to showcase design, Ideas, and concepts.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="single-work-process">
                        <div class="work-process-icon-wrap secondary-bg rounded">
                            <i class="fas fa-trophy text-white workIcon" aria-hidden="true"></i>
                            <span class="process-step primary-bg text-white shadow-sm">4</span>
                        </div>
                        <!-- <span class="work-process-divider">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> -->
                        <div class="work-process-content mt-4">
                            <h5>Launch Project</h5>
                            <p>Build scrum teams for the projects and deliver the design.</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <!--our work process section end-->

    <!--team two section start-->
    <section class="team-two-section ptb-100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 col-lg-8">
                    <div class="section-heading text-center mb-5">
                        <h2>Our Team</h2>
                        <p class="lead">The Core leadership Team of Intellicept had a tremendous amount of Industry
                            Experience and thought leadership.</p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center"> <!-- Added justify-content-center to center the cards -->
                <!-- Staff Member Card 1 -->
                <div class="col-md-6 col-lg-4 d-flex justify-content-center"> <!-- Centered each card with flexbox -->
                    <div class="staff-member position-relative">
                        <div class="card text-center border-0">
                            <img src="/assets/AnuragVarshney.jpg" alt="team image" class="card-img-top">
                            <div class="card-body">
                                <h5 class="teacher mb-0">Anurag Varshney</h5>
                                <span>Managing Partner / Chief Architect</span>
                            </div>
                        </div>
                        <div class="overlay d-flex align-items-center justify-content-center">
                            <div class="overlay-inner">
                                <p class="teacher-quote">Anurag is an accomplished IT & SAP Executive and expert in SAP
                                    S/4 HANA Retail & CAR with proven experience in Retail, Fashion, CPG and Life
                                    Sciences with 23+ years of achievement in</p>
                                <button id="myBtnONE" (click)="openModal('modalOne')"><span class="txt">View
                                        more</span></button>
                                <h5 class="mb-0 teacher text-white">Anurag Varshney</h5>
                                <span class="teacher-field text-white">Managing Partner / Chief Architect</span>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Staff Member Card 2 -->
                <div class="col-md-6 col-lg-4 d-flex justify-content-center">
                    <div class="staff-member position-relative">
                        <div class="card text-center border-0">
                            <img src="/assets/mayankGupta.jpg" alt="team image" class="card-img-top">
                            <div class="card-body">
                                <h5 class="teacher mb-0">Mayank Gupta</h5>
                                <span>SAP Fashion Architect (Sr Director)</span>
                            </div>
                        </div>
                        <div class="overlay d-flex align-items-center justify-content-center">
                            <div class="overlay-inner">
                                <p class="teacher-quote">Mayank is an experienced and certified SAP professional with a
                                    demonstrated history of working in the apparel, fashion and retail industry. He is
                                    strong professional with a Master of Science (BS) degree focused in Computer Science
                                </p>
                                <button id="myBtnTWO" (click)="openModal('modalTwo')"><span class="txt">View
                                        More</span></button>
                                <h5 class="mb-0 teacher ">Mayank Gupta</h5>
                                <span class="teacher-field text-white">SAP Fashion Architect (Sr Director)</span>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Staff Member Card 3 -->
                <div class="col-md-6 col-lg-4 d-flex justify-content-center">
                    <div class="staff-member position-relative">
                        <div class="card text-center border-0">
                            <img src="/assets/gauravMishra.jpg" alt="team image" class="card-img-top">
                            <div class="card-body">
                                <h5 class="teacher mb-0">Gaurav Mishra</h5>
                                <span>VP of Business Development and Pre-Sales</span>
                            </div>
                        </div>
                        <div class="overlay d-flex align-items-center justify-content-center">
                            <div class="overlay-inner">
                                <p class="teacher-quote">Goal oriented Enterprise Solution Advisor with 14+ years in the
                                    areas of SAP Consulting, Enterprise Software Applications, Presales, Team
                                    Management, Revenue Generation. Possess comprehensive skill sets in Enterprise
                                    Resource Planning and Retail Management.</p>
                                <button id="myBtnSIX" (click)="openModal('modalThree')"><span class="txt">View
                                        More</span></button>
                                <h5 class="mb-0 teacher text-white">Gaurav Mishra</h5>
                                <span class="teacher-field text-white">VP of Business Development and Pre-Sales</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--team two section end-->

    <!--testimonial section start-->
    <section class="customer-testimonial-section ptb-100 gray-light-bg">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 col-lg-8">
                    <div class="section-heading text-center mb-4">
                        <h2>What People Says About Us</h2>
                        <p class="lead">Intellicept had earned accolades from its customers for enabling the cost
                            effective and quick deployment of technologies for tomorrow.</p>
                    </div>
                </div>
            </div>
            <div class="row align-items-center justify-content-between">
                <div class="col-md-5 col-lg-5">
                    <owl-carousel-o [options]="testimonialOptions">
                        <ng-template carouselSlide>
                            <div class="item">
                                <div class="testimonial-quote-wrap">
                                    <div class="client-say">
                                        <p style="line-height: 30px;"><span class="fas fa-quote-left"></span> We were
                                            stuck into providing a solution to our customers, we consulted Consulting,
                                            they not only provided with the right strategy but also helped brainstorm
                                            the solution. We along with NeuVays Consulting Team have now deployed a
                                            right and useful product for our customers. We are really happy now.</p>
                                    </div>
                                    <div class="media author-info my-3">
                                        <!-- Uncomment and replace src with correct image path if needed -->
                                        <!-- <div class="author-img mr-3">
                                <img src="img/client-2.jpg" alt="client" class="img-fluid rounded-circle">
                              </div> -->
                                        <div class="media-body">
                                            <h5 class="mb-0">President, Retail Chain</h5>
                                            <!-- <span>BizBite</span> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-template>

                        <ng-template carouselSlide>
                            <div class="item">
                                <div class="testimonial-quote-wrap">
                                    <div class="client-say">
                                        <p style="line-height: 30px;"><span class="fas fa-quote-left"></span> Working
                                            with McKinsol’s NeuVays is a pleasure, team is hardworking, dedicated and
                                            innovative. They provided us with an innovative way of working and provided
                                            solutions that were very user-friendly and well absorbed in our retail
                                            industry.</p>
                                    </div>
                                    <div class="media author-info my-3">
                                        <!-- <div class="author-img mr-3">
                                <img src="img/client-3.jpg" alt="client" class="img-fluid rounded-circle">
                              </div> -->
                                        <div class="media-body">
                                            <h5 class="mb-0">VP (IT) Consumer Product Retailer</h5>
                                            <!-- <span>BizBite</span> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-template>

                        <ng-template carouselSlide>
                            <div class="item">
                                <div class="testimonial-quote-wrap">
                                    <div class="client-say">
                                        <p style="line-height: 30px;"><span class="fas fa-quote-left"></span> Our Pilot
                                            project around inventory sensors is appealing to our business. We are
                                            working on formalities to sign up with the business to implement the
                                            solution at a few stores. Really liked the work and thinking of the NeuVays
                                            team. I really appreciate it.</p>
                                    </div>
                                    <div class="media author-info my-3">
                                        <!-- <div class="author-img mr-3">
                                <img src="img/client-1.jpg" alt="client" class="img-fluid rounded-circle">
                              </div> -->
                                        <div class="media-body">
                                            <h5 class="mb-0">Director, Business Applications (Grocery)</h5>
                                            <!-- <span>BizBite</span> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </owl-carousel-o>
                </div>

                <div class="col-md-6 col-lg-6">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="single-counter white-bg shadow-sm p-4 rounded text-center border-0">
                                <span class="ti-medall-alt color-secondary icon-md"><i
                                        class="fas fa-solid fa-medal"></i></span>
                                <!-- <h3 class="mb-0">50</h3> -->
                                <p>50+ Clients</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="single-counter white-bg shadow-sm p-4 rounded text-center border-0">
                                <span class="ti-headphone-alt color-secondary icon-md"><i class="fas fa-headset"
                                        aria-hidden="true"></i></span>
                                <!-- <h3 class="mb-0">2500</h3> -->
                                <p>Global Delivery </p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="single-counter white-bg shadow-sm p-4 rounded text-center border-0">
                                <span class="ti-cup color-secondary icon-md"><i
                                        class="fa fa-solid fa-trophy"></i></span>
                                <!-- <h3 class="mb-0">2150</h3> -->
                                <p>3 Customer Awards </p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="single-counter white-bg shadow-sm p-4 rounded text-center border-0">
                                <span class="ti-user color-secondary icon-md"><i
                                        class="fa fa-regular fa-user"></i></span>
                                <!-- <h3 class="mb-0">2150</h3> -->
                                <p>500+ CSAT </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- ------------*** static carousel ***------------- -->
    <section id="clients" class="section-bg">
        <div class="partner-section ptb-75 bg-f8f8f8">
            <div class="container">
                <!-- <div class="section-title">
          <h2 class="mb-4" style="color: #216499">
            Our Clients
            <span class="small-line" style="background-color: #158db1"></span>
            <span class="small-line2" style="background-color: #158db1"></span>
          </h2>
        </div> -->
                <div class="partner-carousel">
                    <owl-carousel-o [options]="partnerSlides">
                        <!-- <ng-template carouselSlide><span>asdfvc</span><img class="img client-logo" src="/assets/Mayank-fcee8f90.jpg" alt="carousel-image"></ng-template> -->
                        <ng-template carouselSlide><span></span><img class="img client-logo" src="assets/hvr.png"
                                alt="carousel-image"></ng-template>
                        <ng-template carouselSlide><img class="img" src="assets/posg.png"
                                alt="carousel-image"></ng-template>
                        <ng-template carouselSlide><img class="img" src="/assets/though.png"
                                alt="carousel-image"></ng-template>
                        <ng-template carouselSlide><img class="img" src="/assets/accelq.png"
                                alt="carousel-image"></ng-template>
                        <ng-template carouselSlide><img class="img" src="/assets/leapwork.png"
                                alt="carousel-image"></ng-template>
                        <ng-template carouselSlide><img class="img" src="/assets/erwin.png"
                                alt="carousel-image"></ng-template>
                        <ng-template carouselSlide><img class="img" src="/assets/apos.png"
                                alt="carousel-image"></ng-template>
                    </owl-carousel-o>
                </div>
            </div>
        </div>
    </section>


    <!-- Modal Structure -->
    <div *ngIf="isModalOpen" class="modal">
        <div class="modal-content">
            <button class="close" (click)="closeModal()">&times;</button>
            <div class="modal-body">
                <img [src]="modalData.image" alt="team image" class="model-img-top" />
                <div class="text-content">
                    <h5 class="teacher mb-0">{{modalData.name}}</h5>
                    <span>{{modalData.title}}</span>
                    <ul class="list-inline pt-2 social">
                        <li class="list-inline-item">
                            <a [href]="modalData.linkedin" target="_blank">
                                <span class="ti-linkedin"></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <p>{{modalData.description}}</p>
        </div>
    </div>
</div>
<app-footer></app-footer>