<section class="head-img" style="background: url('/assets/head3.png')no-repeat center center / cover">
    <div class="row justify-content-center">
            <div class="text-header">
                <h1 class="text-white mb-0">Data Analytics</h1>
               
                </div>
            </div>
</section>


<section class="service-details-section mt-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8">
                <div class="service-details-wrap">
                    <img src="/assets/slider3.png" alt="services" class="img-fluid rounded shadow-sm">
                    <div class="services-detail-content mt-5">
                        <h4>Data Analytics</h4>
                        <p>As more and more processes are getting automated, data becomes the key element 
                            for success of any activity. The data needs to be aggregated, managed, curated, 
                            and then distributed and visualized to provide a meaningful outcome.</p>
                        <p>Our service range includes the Data aggregation, Data pipelining and
                                modeling to ensure the best-in-class visualization. The services 
                                also include the prototype build and algorithm development for our 
                                client based on AI and ML principles.</p>

                        <div id="accordion-1" class="accordion accordion-faq mt-5">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="sidebar-right pl-4">

                    <!--all services list-->
                    <aside class="widget widget-categories">
                        <div class="widget-title">
                            <h5>Data Analytics</h5>
                        </div>
                        <ul class="all-service-list">
                            <li><a href="data-analytics">Big Data Services</a></li><hr>
                            <li><a href="data-analytics">Data Visualization and Analytics</a></li><hr>
                            <li><a href="data-analytics">AI and ML Models</a></li><hr>
                            <li><a href="data-analytics">Personalization </a></li><hr>
                        </ul>
                    </aside>

                </div>
            </div>
        </div>
    </div>
</section>