/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    // color: #707070;
    font-family: 'Poppins', sans-serif;
}
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import 'ngx-toastr/toastr';

p, li,blockquote,span,address{
    color: #707070;
}


  .toast-top-right {
    position: fixed !important;
    top: 20px;
    right: 20px;
    z-index: 9999;
  }
  