<app-header></app-header>
<section class="head-img" style="background: url('/assets/head4.png')no-repeat center center / cover; margin-top: 85px;">
    <div class="row justify-content-center">
            <div class="text-header">
                <h1 class="text-white mb-0">Digital Transformation</h1>
               
                </div>
            </div>
</section>



<section class="service-details-section mt-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8">
                <div class="service-details-wrap">
                    <img src="/assets/slider4.png" alt="services" class="img-fluid rounded shadow-sm">
                    <div class="services-detail-content mt-5">
                        <h4>Digital Transformation Professional Services</h4>
                        <p>Consulting and Advisory services are the most important offering from 
                            Intellicept. We have tremendous industry experience in multiple industries 
                            like Retail, Consumer Goods, Fashion, 
                            Pharmaceutical, Life Sciences etc. </p>
                        <p>We provide services for developing Digital Strategy for transforming your 
                            business to next level. We also help you to set up an Innovation Engine 
                            for your organization. The directives, best practices and tools are most 
                            sought after engagement techniques. </p>

                        <div id="accordion-1" class="accordion accordion-faq mt-5">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="sidebar-right pl-4">

                    <!--all services list-->
                    <aside class="widget widget-categories">
                        <div class="widget-title">
                            <h5>Digital Transformation Professional Services</h5>
                        </div>
                        <ul class="all-service-list">
                            <li><a href="digital-transformation">Strategy Consulting</a></li><hr>
                            <li><a href="digital-transformation">Innovation Engine</a></li><hr>
                            <li><a href="digital-transformation">Skill Augmentation </a></li><hr>
                        </ul>
                    </aside>

                </div>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>